*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-color : gray;
}

main
{
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.container
{
    padding-left: 60px;
    padding-right: 60px;

    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    flex-flow : wrap;
}

.schools-box
{
    color: white;
    background-color : #004EBA;

    text-align: center;
    text-decoration: none;

    margin: 16px;
    padding: 10px;
    width: 160px;
    min-height : 160px;
    margin-top : 45px;

    transition: 300ms ease ;
}

.container a:hover
{
    transform-origin : left;
    background-color : #0c1c8c;
}

a
{
    text-decoration : none;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-style: solid;
    border-radius : 20px;
}

.icon 
{
    display: grid;
    margin: 0;
    border: 0;
}

.icon-text
{
    display: block;
    padding-top : 10px;
    letter-spacing: 1.5px;
}

@media screen and (max-width : 1200px) 
{
    .container a
    {
        width : 40%;
    }
}

@media screen and (max-width : 90px) 
{
    .container a
    {
        width : 90%;
    }
}