@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 150, 201);
}

.section {
    margin: 0px;
    padding: 5vh 5vw;
    background-color: rgb(0, 150, 201);
}

/* header */

/* navigation */

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* border-style: solid;
    border-radius : 20px; */

    transition : all 0.2s linear;

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10vh;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

/* header body */

#video-background
{
    position : absolute;
    min-width: 100%;
    min-height: 100%;
    z-index : -1;

    right: 0;
    bottom: 0;
    transform: translateX(calc((100% - 100vw) / 2));
}

.header
{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .4),
        rgba(0, 30, 96, 0.4),
        rgba(0, 70, 141, 0.4),
        rgba(0, 30, 96, 0.99)
     );

    background-repeat : no-repeat;

    position: relative;
    overflow : hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15vh;
    max-height: 115vh;
}

#header-title
{
    color: white;
    font-size : clamp(36px, 4vw, 60px);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 100px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);
    margin-left: 50px;
    margin-right: 50px
}


#header-button
{
    width : 100%;
    text-align: center;
    display : flex;
    justify-content: center;
}

#button
{
    color : #001E60;
    font-size : 25px;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    text-decoration: none;

    background-color : #ecaa1e;
    border-color : white;
    border-radius: 10px;
    cursor: pointer;

    padding : 10px 40px;
    transition : all 0.3s ease-in-out;

}

#header-subtitle
{
    color: white;
    font-size : 26px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);

    margin-bottom: auto;
}

#button:hover
{
    color : white;
    background-color :#00468D
}


.header-curve
{
    width : 100%;
    margin-bottom: -8px;
}

/* opportunities section */


.container-title
{
    color: white;
    font-size : clamp(20px, 5vw, 32px);
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    text-decoration: none;
    text-align: center;
    background-color: #001E60;
    border-radius: 10px;
    padding : 10px 10px;
    margin-bottom : 30px;
    justify-content : center;
}

#container-title:hover
{
    background-size : 100% 6px;
}

.container
{

    display : flex;
    justify-content : space-evenly;
    flex-direction : row;
    flex-flow : wrap;
}

.schools-box
{
    color: white;
    background-color: #001E60;
    font-family: 'Merriweather', serif;
    font-size : 14px;

    text-align: center;
    text-decoration: none;

    border-radius : 25px;

    margin: 16px;
    padding: 10px;
    width: 160px;
    min-height : 160px;
    margin-top : 45px;

    transition: 300ms ease ;
}

.schools-box:hover
{
    background-color: #00468D;
    transform: scale(1.1);
}

.icon 
{
    display: grid;
    margin: 0;
    border: 0;
}

.icon-text
{
    display: block;
    padding-top : 15px;
    letter-spacing: 1.5px;
}

.subtext-container
{
    display : flex;
    text-align: center;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}

.subtext
{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    text-align: center;
    cursor: pointer;
    flex: 1;

    margin-top : 80px;
    padding : 15px 12%;
    border-radius : 20px;

    min-width: 200px;
}

#left-subtext
{
    color:#001E60;
    background-color: #ecaa1e;
    transition : all 0.3s ease-in-out;
}

#right-subtext
{
    color : white;
    background-color: #001E60;
    transition : all 0.3s ease-in-out;
}

#left-subtext:hover
{
    color : white;
    background-color: #00468D;
}

#right-subtext:hover
{
    background-color: #00468D;
}

/* Why Section */

.Why.section {
    display: flex;
    flex-direction: column;
}

.section-body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.description-title
{
    color: white;
    text-decoration: none;

    margin-right : 10px;
    margin-bottom : 40px;

    background-color: #001E60;
    border-radius: 10px;

    font-size : clamp(10px, 4vh, 21px);
    margin-right: auto;
}

.description-title p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(20px, 4vh, 40px);
    text-align: center;
    padding : 10px 25px;
}

.description-text
{
    color: white;
    font-size : clamp(10px, 3vh, 21px);
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    line-height: 60px;
    padding : 40px;
    border-radius: 20px; 
    background-size: cover;
    transition: 300ms ease ;
    width: 40vw;
    box-sizing: border-box;
}

.description-text:hover
{
    padding : 40px;
    background-color : #00468D;
}

.description-image
{
    height : 47%;
    margin-bottom : 30px;
    border : 5px solid whitesmoke;
    border-radius: 20px;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


.description-wrapper
{
    display : flex;
    justify-content: center;
    width: 40vw;
}

.description-curve
{
    width : 100%;
    margin-top : 50px;
    margin-bottom: -12px;
}

@media only screen and (max-width: 1024px){
    .description-text {
        line-height: 30px;
    }

    .description-title {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 768px){
    .section-body {
        flex-direction: column;
        justify-content: center;
    }

    .description-wrapper {
        width: auto;
    }

    .description-text {
        width: auto;
    }
}


/* benefits section */

.benefits.section {
    background-color: rgb(0, 70, 141);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.diagram
{
    max-width: 100%;
}

#benefits-container
{
    color: white;
    text-decoration: none;
    margin-bottom : 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#benefits-container-header
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(20px, 5vw, 35px);
    text-align: center;
    padding : 10px 25px;
    border-radius: 10px; 
    background-color: #001E60;
    max-width: 650px;
}

.benefits-list
{
    margin-left : 20px;
    margin-top : 25px;
}

.benefits-text
{
    color: white;
    font-size : 22px;
    font-family: 'Poppins', sans-serif;
    line-height: 90px;
}

.benefits-text u
{
    text-decoration: none;
    transition: 300ms ease ;
}

.benefits-list:hover .benefits-text u
{
    color :#ecaa1e;
}

@media only screen and (max-width: 768px) {
    .benefits-text {
        line-height: 40px;
    }
}


/* footer */

#footer
{
    color: whitesmoke; background-color : #2e3030; border-bottom:1px solid #3B3B3B; height:160px;
    margin-top: auto;
    justify-self: flex-end;
    width : 100vw;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    place-content: center;
    place-items : center;
}

.footer-text
{
    text-align: center;
    padding-top : 40px;
    padding-bottom : 40px;
}

@media all and (max-width : 988px)
{

    #container-title
    {
        margin-right: 2%;
        margin-left: 2%;
    }

    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 30px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }

    #header-title
    {
        line-height: 80px;
    }

    #header-subtitle
    {
        padding-right : 0;
        padding-left : 0;
    }
    
    .container
    {
        padding-left : 20px;
        padding-right : 20px;
    }

    .schools-box
    {
        transform:scale(.8);
        margin : 0px;
    }

    .schools-box:hover
    {
        transform:scale(.9);
        margin : 0px;
    }

}

@media all and (max-width : 725px)
{
    .navigation-button
    {
        padding : 15px 15px;
    }

    #header-title
    {
        line-height: 60px;
    }

    #header-subtitle
    {
        font-size: 22px;
    }

    .container
    {
        padding-left : 0px;
        padding-right : 0px;
    }

    #container-title
    {
        margin-right: 1%;
        margin-left: 1%;
    }

    .description-image
    {
        width : 70%;
    }

    .description-text:hover
    {
        padding : 30px;
        background-color : #0c1c8c;
    }



}

@media all and (max-width : 366px)
{
    #header-title
    {
        font-size : 32px;
        line-height: 50px;
    }

    .description-image
    {
        width : 85%;
    }

    .description-text
    {
        line-height: 35px;
        padding : 10px;
        margin-top : 70%;
    }

    .description-text:hover
    {
        padding : 20px;
        background-color : #0c1c8c;
    }
}