*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-image: linear-gradient(
        #0096C9 100%, 
        #2645bf 00% );

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear;

}

.navigation-text:hover
{
    color : #0c1c8c;
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
   /* width : 100%; */
    height : 3px;
    background-color : white;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

.SearchOption-container
{
    position : relative; 
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
}

.box  
{
    position : relative;
    text-decoration: none;
    width : calc(500px - 30px);
    height: calc(600px - 30px);
    background-color: #00468D;
    float : left;
    margin : 5%;
    box-sizing : border-box;
    overflow : hidden;
    border-radius : 10px;
    cursor: pointer;

    transition: 300ms ease ;
}

.box:hover
{
    background-color: #001E60;
    transform: scale(1.05);
}

.Search-picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 100px;
    margin-top : 30px;
}

.Search-box-header
{
    color : white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    font-size: 32px;
    margin-top : 20px;
}

.Search-box-text
{
    color : white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size: 22px;
    margin-top : 30px;
    padding-left : 50px;
    padding-right : 50px;
    line-height: 40px;
}

.Create-picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 95px;
    margin-top : 30px;
}

.Create-box-header
{
    color : white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    font-size: 32px;
    margin-top : 20px;
}

.Create-box-text
{
    color : white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size: 22px;
    margin-top : 30px;
    padding-left : 50px;
    padding-right : 50px;
    line-height: 40px;
}

