#no-service-found-container 
{
    margin: 140px 0px;
    padding-bottom: 200px;
}

#no-service-found-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

#no-service-found-icon
{
    color: var(--dark-secondary-color);
    background-color: white;
    border-radius: 500px;
}

#no-service-found-text 
{
    text-align: center;
    margin-left: 20px;
}

#no-service-found-description 
{
    margin-top: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

#explore-service-results 
{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0px 20px;
    max-width: 1600px;
    padding-bottom: 200px;
}

.service-result-card
{
    background-color: var(--secondary-color);
    color: white;
    font-weight: 300;
    margin: 40px 20px;
    border-radius: 20px;
    width: 17.5rem;
    cursor: pointer;
    transition: 300ms ease;
    position: relative;
}

.service-result-card:hover 
{
    background-color: var(--dark-secondary-color);
}

.service-result-button
{
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: fit-content;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.service-result-button:hover 
{
    color: white;
    background-color: var(--secondary-color);
}

.service-result-thumbnail 
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.service-result-title 
{
    color: var(--accent-color);
    margin: 15px 0px;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 23px);
    text-align: center;
    justify-content: center;
    padding: 0px 20px;
    align-items: center;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.service-result-author 
{
    margin-bottom: 70px;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media all and (max-width : 1380px) 
{
    .service-result-card 
    {
        width: 16rem;
    }

    .service-result-author 
    {
        margin-bottom: 60px;
    }

    .service-result-button 
    {
        font-size: 16px;
    }
}

@media all and (max-width : 988px) 
{
    #explore-service-results 
    {
        margin: 0px 0px;
    }

    .service-result-card
    {
        width: 14rem;
    }
}

@media all and (max-width : 850px) 
{
    #explore-service-results
    {
        padding-top: 100px;
    }

    .service-result-card
    {
        margin: 30px 15px;
    }

    .service-result-author 
    {
        font-size: 15px;
    }
}

@media all and (max-width : 600px) 
{
    .search-picture-container 
    {
        width: 50px;
    }

    .result-text-container 
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .service-result-card 
    {
        margin: 20px 15px;
        font-size: 14px;
        padding: 0;
        width: 90%;
        display: flex;
        align-items: center;
    }

    .service-result-thumbnail 
    {
        max-width: 200px;
    }

    .service-result-author 
    {
        margin-bottom: 5px;
        font-size: clamp(11px, 3vw, 16px);
    }

    .service-result-title 
    {
        margin: 10px 20px;
        padding: 0px 0px;
        width: 100%;
        font-size: clamp(13px, 3vw, 18px);
    }

    .service-result-button
    {
        display: none;
    }
}

@media all and (max-width : 500px) 
{
    .service-result-thumbnail 
    {
        max-width: 140px;
    }

    .service-result-title 
    {
        margin: 10px 10px;
        padding: 0px 10px;
    }
}

@media all and (max-width : 380px) 
{
    .service-result-title 
    {
        margin: 5px 10px;
    }
}

@media all and (max-width : 350px) 
{
    .service-result-thumbnail 
    {
        max-width: 120px;
    }
}