.filter-container 
{
    position: absolute;
    top: 12%;
    left: 72%;
    width: 26%;

    border-radius: 15px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 50px;

    background-color: #00468D;
    transition: 300ms ease;
}

input[type="checkbox"] 
{
    appearance: none;
    -webkit-appearance: none;
    background-color: aliceblue;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
}

input[type="checkbox"]:checked 
{
    background-color: #ecaa1e;
    transition: 300ms ease;
}

input[type="checkbox"]:checked:after 
{
    display: block;
}

.filter-header 
{
    color: white;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 50px;

    margin-left: 35%;
}

.filter-list 
{
    list-style: none;
}

.filter-item 
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-bubble 
{
    transform: scale(1.3);
}

.filter-text 
{
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 50px;

    padding-left: 10px;
    cursor: pointer;
}

.filter-buttons 
{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.filter-submit 
{
    padding: 8px;
}

.filter-reset 
{
    padding: 8px;
}

.filter-system-container 
{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    justify-content: space-between;
    margin-top: 20px;
    display: none;
}

.filter-category-container 
{
    width: 100%;
    cursor: pointer;
}

.filter-buttons-container 
{
    position: relative;
}

.filter-both-buttons-container 
{
    display: flex;
}

.filter-school-button 
{
    border-radius: 15px;
    padding: 12px 40px;
    cursor: pointer;
    z-index: 1;
    background-color: #001E60;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    transition: 200ms ease;
}

.filter-school-button:hover 
{
    box-shadow: 0 0 0 1px white;
}


.filter-school-button .arrow 
{
    display: inline-block;
    margin-left: 15px;
}

.school-filter-content 
{
    position: absolute;
    top: 125%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #001e60f3;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    z-index: 1;
    overflow-y: scroll;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    box-shadow: 0 12px 18px rgba(0, 0, 0, .20);
    cursor: pointer;
}

.category-section 
{
    color: white;
    font-size: 15px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 300ms ease;
    cursor: pointer;
}

.category-section:hover 
{
    background-color: #00468D;
}

.add-service-button 
{
    border-radius: 15px;
    padding: 12px 40px;
    cursor: pointer;
    z-index: 1;
    background-color: #001E60;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-right: 50px;
    transition: 200ms ease;
}

.add-service-button:hover 
{
    box-shadow: 0 0 0 1px white;
}

.add-service-button .arrow 
{
    display: inline-block;
    margin-left: 15px;
}

.content 
{
    position: absolute;
    top: 125%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #001e60f3;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    z-index: 1;
    overflow-y: scroll;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    box-shadow: 0 12px 18px rgba(0, 0, 0, .20);
    cursor: pointer;
}

@media all and (max-width : 1600px) 
{
    .filter-container 
    {
        top: 12%;
        left: 67%;
        width: 30%;
    }

    .filter-text 
    {
        font-size: 17px;
        line-height: 45px;
    }
}

@media all and (max-width : 988px) 
{
    .filter-system-container
    {
        justify-content: center;
        align-items: center;
        margin-bottom : 20px;
    }
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #001E60;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #ecaa1e;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collapsible-button {
    background-color: #001E60;
    color: #fff;
    border: none;
    font-weight: 500;
}

.collapsible-button .arrow {
    display: inline-block;
    margin-right: 10px;
}

.details label {
    padding-left: 30px;
    color: #fff;
}

.arrow {
    display: inline-block;
    position: relative;
    top: -2px;
    align-items: center;
    width: 9px;
    height: 9px;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    margin-left: 8px;
}

.arrow.up {
    transform: rotate(-45deg);
    transition: 300ms ease;
    top: 0px;
}

.arrow.down {
    transform: rotate(135deg);
    transition: 300ms ease;
    top: -3px;
}

.sort-by select {
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-weight: bold;


    appearance: none;
    -webkit-appearance: none;

}

.sort-by label {
    margin-right: 10px;
}

.sort-by .arrow {
    border-top: 1.5px solid #000;
    border-right: 1.5px solid #000;
    margin-left: 5px;
    position: relative;
    top: -3px;

}

.cont {
    position: relative;
}


.cont select {
    z-index: 1;
    color: #001E60;
}


.sort-label {
    font-size: 18px;
}


.sort-select {
    font-size: 18px;
    color: white;
}

.right-section {
    color: white;
}

@media all and (max-width: 768px) 
{
    .dropdown-container 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        padding: 10px;
    }

    .add-service-button 
    {
        text-align: left;
    }

    .content 
    {
        position: static;
        width: 100%;
        margin-top: 10px;
        height: auto;
        overflow-y: visible;
    }

    .details label 
    {
        padding-left: 0;
    }

    .sort-by 
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-by .arrow 
    {
        margin-left: 0;
        margin-top: 5px;
    }

    .search-result-container
    {
        padding-top: 120px;
    }
}

@media all and (max-width: 425px) 
{
    .content 
    {
        position: static;
        margin-top: 10px;
        height: auto;
        overflow-y: visible;
        width: 100vw;
        border-radius: 0px;
    }

    .mobileFilterServiceButton 
    {
        width: 100%;
        text-align: center;
    }

}