#sign-up-success-container
{
    padding-bottom: 100px;
}

#sign-up-success-title
{
    display: flex;
    justify-content: center;
}

#sign-up-success-title p
{
    color: white;
    font-weight : 600;
    font-size : clamp(21px, 3vw, 40px);
    text-align: center;
    margin-top : 4%;
    padding: 0px 10px;
}

#sign-up-success-description
{
    display: flex;
    justify-content: center;
}

#sign-up-success-description p
{
    color: white;
    padding : 30px;
    font-weight : 500;
    font-size : clamp(16px, 1.5vw, 26px);
    text-align: center;
    line-height: 45px;
}

#sign-up-success-button-container
{
    display: flex;
    justify-content: center;
}

#sign-up-success-button
{
    color: white;
    background-color: var(--dark-secondary-color);
    font-size : clamp(1.6vw, 1.8vw, 1.8vw);
    font-weight : 600;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top : 4%;
    text-align: center;
    transition : all 0.3s ease-in-out;
}

#sign-up-success-button:hover
{
    background-color : var(--secondary-color);
}

@media all and (max-width : 850px)
{
    #sign-up-success-container
    {
        padding-top: 90px;
    }
}

@media all and (max-width : 780px)
{
    #sign-up-success-description p
    {
        line-height: 30px;
    }

    #sign-up-success-button
    {
        font-size : 20px;
    }
}