.notification-icon {
    background-color: red;
    padding: 4px;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 32px;
    color: white;
    position: absolute;
    right: -2px;
    top: -8px;
    max-width: 24px;
    text-align: center;
}

.relative-container {
    position: relative;
}

.hidden {
    display: none;
    visibility: hidden;
}

.position-left {
    left: -2px;
}