.notification-icon {
  background-color: #ecaa1e;
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 50%;
  color: #001e60;
  position: absolute;
  right: -10px;
  top: -12px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-notification-icon {
  background-color: #ff3939;
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 50%;
  color: #001e60;
  position: absolute;
  right: -4px;
  top: -8px;
  width: 20px;
  height: 20px;
}

.relative-container {
  position: relative;
}

.hidden {
  display: none;
  visibility: hidden;
}

.position-left {
  left: -4px;
}

.blue-container {
  background-color: #00468d;
  color: white;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  transition: 300ms ease;
}

.blue-container:hover {
  background-color: var(--dark-secondary-color);
}

.hoverable-blue-container {
  background-color: #00468d;
  color: white;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.hoverable-blue-container:hover {
  background-color: #001e60;
}

.dark-blue-container {
  background-color: #001e60;
  color: white;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.blue-container > p {
  font-size: 100%;
}

.dark-blue-container-with-border {
  background: #001e60;
  border-color: #ecaa1e;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin: 0px 10px;
}

.fadeIn
{
  animation: fadeIn 0.5s;
}

.fadeInFast
{
  animation: fadeIn 0.25s;
}

.toggleButton{
  background-color: var(--primary-color);
  width: 40px;
  height: 20px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  border-width: 1px;
  border-color: white;
}

.toggleButton::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 200px;
  transition: 0.3s ease;
}

.toggleInput:checked + .toggleButton{
  background-color: var(--accent-color);
}

.toggleInput:checked + .toggleButton::before{
  transform: translateX(20px);
}

.toggleInput{
  display: none;
}

/*
! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-10 {
  bottom: 2.5rem;
}

.bottom-\[-155px\] {
  bottom: -155px;
}

.bottom-\[15\%\] {
  bottom: 15%;
}

.bottom-\[5\%\] {
  bottom: 5%;
}

.bottom-\[50\%\] {
  bottom: 50%;
}

.bottom-\[55\%\] {
  bottom: 55%;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-5 {
  left: 1.25rem;
}

.left-7 {
  left: 1.75rem;
}

.left-\[-100px\] {
  left: -100px;
}

.left-\[24px\] {
  left: 24px;
}

.left-\[380px\] {
  left: 380px;
}

.left-\[40vw\] {
  left: 40vw;
}

.left-\[5\%\] {
  left: 5%;
}

.left-\[50vw\] {
  left: 50vw;
}

.right-0 {
  right: 0px;
}

.right-3 {
  right: 0.75rem;
}

.right-\[46\%\] {
  right: 46%;
}

.right-\[50\%\] {
  right: 50%;
}

.top-0 {
  top: 0px;
}

.top-16 {
  top: 4rem;
}

.top-2 {
  top: 0.5rem;
}

.top-3 {
  top: 0.75rem;
}

.top-4 {
  top: 1rem;
}

.top-\[15px\] {
  top: 15px;
}

.top-\[15vh\] {
  top: 15vh;
}

.top-\[80px\] {
  top: 80px;
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.z-\[-1\] {
  z-index: -1;
}

.z-\[100\] {
  z-index: 100;
}

.z-\[101\] {
  z-index: 101;
}

.z-\[99\] {
  z-index: 99;
}

.float-left {
  float: left;
}

.m-8 {
  margin: 2rem;
}

.mx-\[10vw\] {
  margin-left: 10vw;
  margin-right: 10vw;
}

.mx-\[12\%\] {
  margin-left: 12%;
  margin-right: 12%;
}

.mx-\[15px\] {
  margin-left: 15px;
  margin-right: 15px;
}

.my-\[14px\] {
  margin-top: 14px;
  margin-bottom: 14px;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0px;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mr-\[12px\] {
  margin-right: 12px;
}

.mr-\[30px\] {
  margin-right: 30px;
}

.mr-auto {
  margin-right: auto;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[66px\] {
  margin-top: 66px;
}

.box-border {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-10 {
  height: 2.5rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[126px\] {
  height: 126px;
}

.h-\[155px\] {
  height: 155px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-\[60vh\] {
  height: 60vh;
}

.h-\[80vh\] {
  height: 80vh;
}

.h-\[82px\] {
  height: 82px;
}

.h-\[89px\] {
  height: 89px;
}

.h-\[90vh\] {
  height: 90vh;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-\[100\%\] {
  max-height: 100%;
}

.max-h-\[100vh\] {
  max-height: 100vh;
}

.max-h-\[101px\] {
  max-height: 101px;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.max-h-\[52px\] {
  max-height: 52px;
}

.min-h-\[201px\] {
  min-height: 201px;
}

.min-h-full {
  min-height: 100%;
}

.w-0 {
  width: 0px;
}

.w-10 {
  width: 2.5rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[112\.766px\] {
  width: 112.766px;
}

.w-\[113px\] {
  width: 113px;
}

.w-\[1600px\] {
  width: 1600px;
}

.w-\[165px\] {
  width: 165px;
}

.w-\[210px\] {
  width: 210px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[25\%\] {
  width: 25%;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[332px\] {
  width: 332px;
}

.w-\[341px\] {
  width: 341px;
}

.w-\[380px\] {
  width: 380px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[60vw\] {
  width: 60vw;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[75\%\] {
  width: 75%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[82px\] {
  width: 82px;
}

.w-\[85px\] {
  width: 85px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[95\%\] {
  width: 95%;
}

.min-w-\[100vw\] {
  min-width: 100vw;
}

.min-w-\[380px\] {
  min-width: 380px;
}

.max-w-\[100\%\] {
  max-width: 100%;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[35\%\] {
  max-width: 35%;
}

.max-w-\[40\%\] {
  max-width: 40%;
}

.max-w-\[70\%\] {
  max-width: 70%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.origin-top {
  transform-origin: top;
}

.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes ali-fill {
  0% {
    transform: scaleY(0);
  }

  25% {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

.animate-ali-fill {
  animation: ali-fill 2s infinite ease-in;
}

@keyframes ali-spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-ali-spin {
  animation: ali-spin 2s infinite ease;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize-none {
  resize: none;
}

.resize {
  resize: both;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.auto-cols-auto {
  grid-auto-columns: auto;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-b-\[15px\] {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rounded-t-\[15px\] {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-\[4px\] {
  border-width: 4px;
}

.border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-none {
  border-style: none;
}

.border-ali-backgroundblue {
  --tw-border-opacity: 1;
  border-color: rgb(0 150 201 / var(--tw-border-opacity));
}

.border-ali-darkblue {
  --tw-border-opacity: 1;
  border-color: rgb(0 30 96 / var(--tw-border-opacity));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-y-ali-darkblue {
  --tw-border-opacity: 1;
  border-top-color: rgb(0 30 96 / var(--tw-border-opacity));
  border-bottom-color: rgb(0 30 96 / var(--tw-border-opacity));
}

.border-r-ali-backgroundblue {
  --tw-border-opacity: 1;
  border-right-color: rgb(0 150 201 / var(--tw-border-opacity));
}

.border-opacity-50 {
  --tw-border-opacity: 0.5;
}

.bg-\[\#001A52\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 26 82 / var(--tw-bg-opacity));
}

.bg-\[\#001E60\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 30 96 / var(--tw-bg-opacity));
}

.bg-\[\#00468D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 70 141 / var(--tw-bg-opacity));
}

.bg-\[\#2C6BAC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(44 107 172 / var(--tw-bg-opacity));
}

.bg-\[\#C5C5C5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(197 197 197 / var(--tw-bg-opacity));
}

.bg-\[\#D9D9D9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.bg-\[\#ECAA1E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 170 30 / var(--tw-bg-opacity));
}

.bg-\[\#EDEDED\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 237 237 / var(--tw-bg-opacity));
}

.bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[color\:var\(--secondary-color\)\] {
  background-color: var(--secondary-color);
}

.bg-ali-backgroundblue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 150 201 / var(--tw-bg-opacity));
}

.bg-ali-darkblue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 30 96 / var(--tw-bg-opacity));
}

.bg-ali-lightblue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 70 141 / var(--tw-bg-opacity));
}

.bg-ali-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(236 170 30 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[25px\] {
  padding: 25px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[5\%\] {
  padding-left: 5%;
  padding-right: 5%;
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pl-\[125px\] {
  padding-left: 125px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[66px\] {
  padding-top: 66px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[110\%\] {
  font-size: 110%;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[130\%\] {
  font-size: 130%;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[140\%\] {
  font-size: 140%;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[80\%\] {
  font-size: 80%;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-\[400\] {
  font-weight: 400;
}

.font-\[500\] {
  font-weight: 500;
}

.font-\[600\] {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#002347\] {
  --tw-text-opacity: 1;
  color: rgb(0 35 71 / var(--tw-text-opacity));
}

.text-\[\#23F638\] {
  --tw-text-opacity: 1;
  color: rgb(35 246 56 / var(--tw-text-opacity));
}

.text-\[\#465985\] {
  --tw-text-opacity: 1;
  color: rgb(70 89 133 / var(--tw-text-opacity));
}

.text-\[\#FE2F2F\] {
  --tw-text-opacity: 1;
  color: rgb(254 47 47 / var(--tw-text-opacity));
}

.text-\[\#ecaa1e\] {
  --tw-text-opacity: 1;
  color: rgb(236 170 30 / var(--tw-text-opacity));
}

.text-\[var\(--accent-color\)\] {
  color: var(--accent-color);
}

.text-ali-darkblue {
  --tw-text-opacity: 1;
  color: rgb(0 30 96 / var(--tw-text-opacity));
}

.text-ali-orange {
  --tw-text-opacity: 1;
  color: rgb(236 170 30 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-regal-blue {
  --tw-text-opacity: 1;
  color: rgb(36 60 90 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-\[300ms\] {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */

/* Hide scrollbar for IE, Edge and Firefox */

.hover\:scale-\[1\.1\]:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-\[\#00468D\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 70 141 / var(--tw-bg-opacity));
}

.hover\:bg-\[color\:var\(--dark-secondary-color\)\]:hover {
  background-color: var(--dark-secondary-color);
}

.hover\:bg-\[color\:var\(--secondary-color\)\]:hover {
  background-color: var(--secondary-color);
}

.hover\:bg-ali-darkblue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 30 96 / var(--tw-bg-opacity));
}

.hover\:bg-ali-lightblue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 70 141 / var(--tw-bg-opacity));
}

.hover\:text-\[color\:var\(--accent-color\)\]:hover {
  color: var(--accent-color);
}

.hover\:text-\[white\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (max-width: 1250px) {
  .xxlr\:mr-\[0px\] {
    margin-right: 0px;
  }

  .xxlr\:w-\[86\%\] {
    width: 86%;
  }

  .xxlr\:max-w-\[400px\] {
    max-width: 400px;
  }

  .xxlr\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xxlr\:text-start {
    text-align: start;
  }

  .xxlr\:text-\[120\%\] {
    font-size: 120%;
  }
}

@media (max-width: 1050px) {
  .xlr\:h-\[40px\] {
    height: 40px;
  }

  .xlr\:w-\[180px\] {
    width: 180px;
  }

  .xlr\:w-\[40px\] {
    width: 40px;
  }

  .xlr\:max-w-\[300px\] {
    max-width: 300px;
  }

  .xlr\:max-w-\[40\%\] {
    max-width: 40%;
  }

  .xlr\:items-center {
    align-items: center;
  }

  .xlr\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .xlr\:text-\[100\%\] {
    font-size: 100%;
  }

  .xlr\:text-\[110\%\] {
    font-size: 110%;
  }

  .xlr\:text-\[14px\] {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .lr\:mt-24 {
    margin-top: 6rem;
  }

  .lr\:mt-32 {
    margin-top: 8rem;
  }

  .lr\:mt-\[100px\] {
    margin-top: 100px;
  }

  .lr\:mt-\[120px\] {
    margin-top: 120px;
  }

  .lr\:mt-\[160px\] {
    margin-top: 160px;
  }

  .lr\:mt-\[70px\] {
    margin-top: 70px;
  }

  .lr\:h-\[100vh\] {
    height: 100vh;
  }

  .lr\:h-\[30px\] {
    height: 30px;
  }

  .lr\:h-\[35px\] {
    height: 35px;
  }

  .lr\:h-auto {
    height: auto;
  }

  .lr\:w-\[100vw\] {
    width: 100vw;
  }

  .lr\:w-\[160px\] {
    width: 160px;
  }

  .lr\:w-\[30px\] {
    width: 30px;
  }

  .lr\:w-\[35px\] {
    width: 35px;
  }

  .lr\:w-\[70px\] {
    width: 70px;
  }

  .lr\:w-\[70vw\] {
    width: 70vw;
  }

  .lr\:w-\[80\%\] {
    width: 80%;
  }

  .lr\:w-\[85\%\] {
    width: 85%;
  }

  .lr\:w-\[92\%\] {
    width: 92%;
  }

  .lr\:max-w-\[1000px\] {
    max-width: 1000px;
  }

  .lr\:scale-\[1\.0\] {
    --tw-scale-x: 1.0;
    --tw-scale-y: 1.0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lr\:animate-none {
    animation: none;
  }

  .lr\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lr\:flex-col {
    flex-direction: column;
  }

  .lr\:items-center {
    align-items: center;
  }

  .lr\:justify-end {
    justify-content: flex-end;
  }

  .lr\:border-r-0 {
    border-right-width: 0px;
  }

  .lr\:p-\[10px\] {
    padding: 10px;
  }

  .lr\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lr\:pt-\[110px\] {
    padding-top: 110px;
  }

  .lr\:pt-\[3rem\] {
    padding-top: 3rem;
  }

  .lr\:pt-\[66px\] {
    padding-top: 66px;
  }

  .lr\:text-\[100\%\] {
    font-size: 100%;
  }

  .lr\:text-\[12px\] {
    font-size: 12px;
  }

  .lr\:text-\[16px\] {
    font-size: 16px;
  }

  .lr\:text-\[22px\] {
    font-size: 22px;
  }

  .lr\:text-\[90\%\] {
    font-size: 90%;
  }
}

@media (max-width: 600px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:top-0 {
    top: 0px;
  }

  .md\:top-\[15vh\] {
    top: 15vh;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:mt-32 {
    margin-top: 8rem;
  }

  .md\:mt-\[100px\] {
    margin-top: 100px;
  }

  .md\:mt-\[10px\] {
    margin-top: 10px;
  }

  .md\:line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[30px\] {
    height: 30px;
  }

  .md\:h-\[65vh\] {
    height: 65vh;
  }

  .md\:w-\[100\%\] {
    width: 100%;
  }

  .md\:w-\[30px\] {
    width: 30px;
  }

  .md\:w-\[80vw\] {
    width: 80vw;
  }

  .md\:w-\[95\%\] {
    width: 95%;
  }

  .md\:scale-\[0\.9\] {
    --tw-scale-x: 0.9;
    --tw-scale-y: 0.9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .md\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-\[12px\] {
    font-size: 12px;
  }

  .md\:text-\[13px\] {
    font-size: 13px;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .sm\:mx-\[20px\] {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sm\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .sm\:mt-\[140px\] {
    margin-top: 140px;
  }

  .sm\:mt-\[60px\] {
    margin-top: 60px;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-\[100px\] {
    height: 100px;
  }

  .sm\:h-\[20px\] {
    height: 20px;
  }

  .sm\:h-\[60px\] {
    height: 60px;
  }

  .sm\:w-\[130px\] {
    width: 130px;
  }

  .sm\:w-\[20px\] {
    width: 20px;
  }

  .sm\:w-\[50px\] {
    width: 50px;
  }

  .sm\:w-\[90\%\] {
    width: 90%;
  }

  .sm\:w-\[90vw\] {
    width: 90vw;
  }

  .sm\:scale-\[0\.8\] {
    --tw-scale-x: 0.8;
    --tw-scale-y: 0.8;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:justify-around {
    justify-content: space-around;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:p-\[5px\] {
    padding: 5px;
  }

  .sm\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm\:pt-\[0px\] {
    padding-top: 0px;
  }

  .sm\:text-\[12px\] {
    font-size: 12px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[70\%\] {
    font-size: 70%;
  }

  .sm\:text-\[80\%\] {
    font-size: 80%;
  }

  .sm\:text-\[85\%\] {
    font-size: 85%;
  }
}

@media (max-width: 350px) {
  .xsm\:w-\[100px\] {
    width: 100px;
  }

  .xsm\:w-\[200px\] {
    width: 200px;
  }

  .xsm\:w-\[95\%\] {
    width: 95%;
  }

  .xsm\:scale-\[0\.7\] {
    --tw-scale-x: 0.7;
    --tw-scale-y: 0.7;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xsm\:pt-\[10px\] {
    padding-top: 10px;
  }

  .xsm\:text-\[11px\] {
    font-size: 11px;
  }

  .xsm\:text-\[60\%\] {
    font-size: 60%;
  }

  .xsm\:text-\[70\%\] {
    font-size: 70%;
  }

  .xsm\:text-\[80\%\] {
    font-size: 80%;
  }
}

@media (min-width: 480px) {
  .mdd\:hidden {
    display: none;
  }
}

@media (min-width: 600px) {
  .lrr\:mt-0 {
    margin-top: 0px;
  }

  .lrr\:hidden {
    display: none;
  }
}

@media (min-width: 850px) {
  .xlrr\:fixed {
    position: fixed;
  }

  .xlrr\:hidden {
    display: none;
  }
}

