body{
    background-color: rgb(0,150,201);
}

header{
    text-align: center;
    margin-top: 10%;
    color:white;
    font-size:x-large;

}

.result-container{
    display: inline;
    margin-top: 50px;
}


.result-container#bee{
    background-color: white;
    
}

section#sbee{
    border: 1px solid;
    border-radius: 20px;
    width: 30%;
    float: left;
}


.result-container#cs{
    background-color: fuchsia;
}

section#scs{
    border: 1px solid;
    border-radius: 20px;
    width: 30%;
    
}



.result-container#unity{
    background-color: yellow;
}

section#sunity{
    border: 1px solid;
    border-radius: 20px;
    width: 30%;
}

.result-container#eng{
    background-color: darkorange;
}

section#seng{
    border: 1px solid;
    border-radius: 20px;
    width: 30%;
}


h2{
    text-decoration-line: underline;
    color: white;
}
