@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
}

body
{
    background: linear-gradient(
      #0096C9 100%, 
    /* #0095BD 80%, */
      /*#2645bf 20% */
      #00468D 0% /* #0096C9 */
      );

    /*background: linear-gradient(#0096C9 0, #0096C9 60%, #00468D 60%, #00468D 82%, #0096C9 82%, #0096C9 100%); */

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* border-style: solid;
    border-radius : 20px; */

    transition : all 0.2s linear;

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
    background-color : white;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;

}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

#video-background
{
    position : absolute;
    min-width: 100%;
    min-height: 100%;
    z-index : -1;

    right: 0;
    bottom: 0;
    transform: translateX(calc((100% - 100vw) / 2));

    display : flex;
    justify-content: center;
    top : -90px;
}

.header
{
    /*background : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)); */

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .4),
        rgba(0, 30, 96, 0.4),
        rgba(0, 70, 141, 0.4),
        rgba(0, 30, 96, 0.99)
     );

    background-repeat : no-repeat;

    min-height: 130vh;
    max-height: 130vh;
    position: relative;
    overflow : hidden;
}


#header-title
{
    color: white;
    font-size : clamp(36px, 4vw, 60px);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 100px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);
    z-index: 1;

    display : inline-block;
    justify-content: center;
    position : absolute;
    top : 18%;
    left : 10%;
    right : 10%;
}

#header-subtitle
{
    color: white;
    font-size : 26px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);
    z-index: 1;

    display : flex;
    margin : auto;
    justify-content: center;
    position : absolute;
    bottom : 26%;
    padding-left: 3%;
    padding-right : 3%;

    left : 6%;
    right : 6%;
}

#header-button
{
    width : 100%;
    text-align: center;
    display : flex;
    justify-content: center;
    z-index: 1;
}

#button
{
    color : #001E60;
    font-size : 25px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    text-decoration: none;
    z-index: 1;
    /* text-shadow: 0px 2px 3px rgb(0 0 0 / 50%); */

    background-color : #ecaa1e;
    border-color : white;
    border-radius: 10px;
    cursor: pointer;

    position : absolute;
    bottom : 52%;
    padding : 10px 40px;
    transition : all 0.3s ease-in-out;
}

#button:hover
{
    color : white;
    background-color :#00468D
}


.header-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
}

.container-title
{
    color: white;
    font-size : clamp(18px, 2.3vw, 32px);
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    /* font-family: 'Quicksand', sans-serif; */
    text-decoration: none;
    text-align: center;

    background-color: #001E60;

    right : 50%;
    margin-left : 5%;
    margin-right : 5%;
    border-radius: 10px;
    padding : 10px 10px;
    margin-bottom : 30px;
    justify-content : center;
}

    /*
    background-image : linear-gradient(90deg, blue, rgb(19, 140, 253));
    background-size : 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom left;

    transition : 500ms ease;
}

#container-title:hover
{
    background-size : 100% 6px;
}
    */

.container
{
    padding-left: 150px;
    padding-right: 150px;

    /*
    display : grid;
    grid-template-columns: auto auto auto;
    */

    display : flex;
    justify-content : space-evenly;
    flex-direction : row;
    flex-flow : wrap;
}

.schools-box
{
    color: white;
    /* background-color : #004EBA; */
    background-color: #001E60;
    font-family: 'Merriweather', serif;
    font-size : 14px;

    text-align: center;
    text-decoration: none;

    border-radius : 25px;

    margin: 25px;
    padding: 10px;
    width: 160px;
    min-height : 160px;
    margin-top : 25px;

    transition: 300ms ease ;
}

.schools-box:hover
{
    /* background-color : #0c1c8c; */
    background-color: #00468D;
    transform: scale(1.1);
}

.icon 
{
    display: grid;
    margin: 0;
    border: 0;
}

.icon-text
{
    display: block;
    padding-top : 15px;
    letter-spacing: 1.5px;
}

.subtext-container
{
    display : flex;
    margin-right : 5px;
    margin-left : 5px;
    text-align: center;
    justify-content: space-evenly;
}

.subtext
{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    text-align: center;
    cursor: pointer;

    margin-top : 60px;
    margin-left : 10px;
    margin-right : 10px;
    padding : 15px 12%;
    border-radius : 20px;
}

#left-subtext
{
    color:#001E60;
    background-color: #ecaa1e;
    transition : all 0.3s ease-in-out;
}

#right-subtext
{
    color : white;
    background-color: #001E60;
    transition : all 0.3s ease-in-out;
}

#left-subtext:hover
{
    color : white;
    background-color: #00468D;
}

#right-subtext:hover
{
    background-color: #00468D;
}

.description-container
{
    position : relative;
    min-height : 1050px;
    display : flex;
    flex-flow : wrap;
    margin-top : 60px;
}

.description-title
{
    color: white;
    text-decoration: none;

    position : absolute;
    left : 5.8%;
    top : 7%;
    min-width : 43%;

    margin-right : 10px;
    margin-bottom : 40px;

    background-color: #001E60;
    border-radius: 10px;
}

.description-title p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(18px, 3vw, 36px);
    text-align: center;
    padding : 10px 25px;
}

/*
    background-image : linear-gradient(90deg, blue, rgb(19, 140, 253));
    background-size : 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom left;

    transition : 500ms ease;
}

.description-title p:hover
{
    background-size : 100% 6px;
}
*/

.description-text
{
    color: white;
    font-size : clamp(10px, 4vh, 21px);
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    line-height: 60px;

    display : inline-block;

    position : absolute;
    width : 45%;
    top : 17%;
    left : 5.8%;
    padding : 18px 25px;

    /*
    border-color : whitesmoke;
    border-width : 3px;
    border-style: solid; */
    border-radius: 20px; 

    /*background-color : #004EBA;*/
    /* background-color : #001E60; */
    background-size: cover;

    transition: 300ms ease ;
}

.description-text:hover
{
    background-color : #00468D;
}

.description-image
{
    background-repeat : no-repeat;
    position : absolute;
    display : inline-block;
    right : 4%;
    bottom : 42%;
    margin: 0 auto;
    margin-bottom : 30px;
    flex : 0 0 auto;
    max-width: 40%;

    border : 5px solid whitesmoke;
    border-radius: 20px;
}


.description-wrapper
{
    display : flex;
    justify-content: center;
}

.description-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    margin-top : 50px;
}

.diagram
{
    float : left;
    max-width: 40%;
}

#benefits-container
{
    color: white;
    text-decoration: none;
    position : relative;
    margin-bottom : 10px;
    margin-right : 20px;
    display : inline-block;
}

#benefits-container p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    /* font-size : clamp(30px, 5vh, 40px); */
    font-size : clamp(20px, 3vw, 35px);
    text-align: center;
    padding : 10px 25px;

    background-color: #0096C9;
    background-color: #001E60;
    border-radius: 10px; 
}

.benefits-list
{
    margin-left : 20px;
    margin-top : 25px;
}

.benefits-text
{
    color: white;
    font-size : 22px;
    font-size : clamp(12px, 2vw, 19px);
    font-family: 'Poppins', sans-serif;
    line-height: 90px;
}

.benefits-text u
{
    text-decoration: none;
    transition: 300ms ease ;
}

.benefits-list:hover .benefits-text u
{
    color :#ecaa1e;
}

.teacher-text p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    text-align: center;
    padding : 10px 25px;

    color: white;
    text-decoration: none;
    position : relative;
    margin-bottom : 60px;
    display : inline-block;
    margin-left : 80px;

    background-color:#001E60;
    border-radius: 10px; 
}

#teacher-title
{
    font-size : clamp(20px, 5vw, 50px);
}

#teacher-subtitle
{
    font-size : clamp(20px, 5vw, 35px);
}

#teacher-photo
{
    max-width : 100%;
    width : 42%;
    float : right;
    margin-right : 70px;

    border-color : whitesmoke;
    border-width : 5px;
    border-style: solid;
    border-radius : 20px;
}



#footer
{
    color: whitesmoke; background-color : #2e3030; border-bottom:1px solid #3B3B3B; height:160px;
    margin-top: auto;
    justify-self: flex-end;
    width : 100vw;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    place-content: center;
    place-items : center;
}

.footer-text
{
    text-align: center;
    padding-top : 40px;
    padding-bottom : 40px;
}

@media all and (max-width : 1700px)
{
    body
    {
        /*background: linear-gradient(#0096C9 0, #0096C9 72%, #00468D 72%, #00468D 95%, #0096C9 95%, #0096C9 100%); */

    }

    .description-text
    {
        font-size : clamp(10px, 4vh, 19px);
    }

    .description-image
    {
        max-width: 44%;
        margin-bottom: 0;
        margin-top: 0;
        height : auto;
    }

    .diagram
    {
        margin-top : 40px;
        float : left;
        max-width: 46%;
    }

    .benefits-text
    {
        font-size : clamp(12px, 2vw, 19px);
        line-height: 75px; 
    }

}

@media all and (max-width : 1500px)
{

    #header-title
    {
        left : 0%;
        right : 0%;
    } 

    #video-background
    {
        top : -60px;
    }

    .description-title
    {
        left : 5%;
        right : 5%;
        top : 5%;
    }

    #header-subtitle
    {
        padding-left : 0%;
        padding-right : 0%;
    }

    .description-image
    {
        max-height: 40%;
    }
}
@media all and (max-width : 1320px)
{
    .description-text
    {
        line-height: 50px;
    
        width : 45%;
        top : 17%;
        left : 5.8%;
        padding : 18px 25px;      

    }  
}

@media all and (max-width : 1240px)
{
    body
    {
        /*background: linear-gradient(#0096C9 0, #0096C9 60%, #00468D 60%, #00468D 80%, #0096C9 80%, #0096C9 100%); */
    }

    .description-container
    {
        margin-bottom : 600px;
    }

    .description-curve
    {
        transform: translateY(100px);
    }

    .description-title 
    {
        top : 0%;
    }

    .description-image
    {
        top : 12%;
        right : 13%;
        left : 13%;
    }

    .description-text
    {
        margin-top : 22%;
        width : 90%;
        min-height : 20%;
        padding : 20px;
    }

    .container
    {
        padding-left : 50px;
        padding-right : 50px;
    }

    .subtext
    {
        font-size: 20px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 8%;
    }

}

@media all and (max-width : 1030px)
{

    #header-subtitle
    {
        left: 0%;
        right : 0%;
        font-size: 20px;
    }

    .subtext
    {
        font-size: 18px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -40px;
    }

    #container-title
    {
        margin-right: 2%;
        margin-left: 2%;
    }

    #header-title
    {
        top : 22%;
        line-height: 80px;
    }

    #header-subtitle
    {
        padding-right : 0;
        padding-left : 0;
    }
    
    .container
    {
        padding-left : 40px;
        padding-right : 40px;
    }

    .schools-box
    {
        transform:scale(.8);
        margin : 0px;
    }

    .schools-box:hover
    {
        transform:scale(.9);
        margin : 0px;
    }

    .description-container
    {
        margin-top : 80px;
    }

    .description-text p
    {
        font-size : 16px;
        line-height: 45px;
    }

    .description-text
    {
        padding : 30px;
    }

    .description-image
    {
        top : 10%;
        max-width: 50%;
    }

    .description-text:hover
    {
        padding : 40px;
    }

    .description-curve
    {
        transform: translateY(0px);
    }

    .description-container
    {
        margin-bottom : 440px;
    }
}

@media all and (max-width : 780px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 30px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }

    .subtext
    {
        font-size: 17px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -20px;
    }

    .description-container
    {
        margin-bottom : 490px;
    }

    .navigation-button
    {
        padding : 15px 15px;
    }

    #header-title
    {
        top : 22%;
        line-height: 70px;
    }

    #header-subtitle
    {
        font-size: 22px;
        left : 2.25%;
        right : 2.25%;
    }

    .container
    {
        padding-left : 40px;
        padding-right : 40px;
    }

    #last-box
    {
        display: none;
    }

    #container-title
    {
        margin-right: 1%;
        margin-left: 1%;
    }

    .description-image
    {
        top : 9%;
        max-width : 60%;
    }

    .description-text 
    {
        margin-top: 22%;
    }

    .description-text p
    {
        font-size : 15px;
        line-height: 35px;
    }

    .description-text:hover
    {
        padding : 30px;
        background-color : #0c1c8c;
    }
}

@media all and (max-width : 560px)
{
    .container
    {
        padding-left : 30px;
        padding-right : 30px;
    }

    .schools-box
    {
        margin : 0px;
        width : 130px;
        font-size : 13px;
    }

    .description-image
    {
        top : 9%;
        max-width : 80%;
        right : 0%;
        left : 0%;
    }

    .description-text 
    {
        margin-top: 28%;
    }

    .description-text p
    {
        font-size : 13px;
        line-height: 30px;
    }

    .subtext
    {
        font-size: 15px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3.5%;
    }

}

@media all and (max-width : 480px)
{
    .subtext
    {
        font-size: 13px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3%;
    }

    #header-title
    {
        top : 20%;
        line-height: 50px;
    }

    #header-subtitle
    {
        font-size : 18px;
    }

    .container
    {
        width : 100%;
        padding-left : 10px;
        padding-right : 10px;
    }

    .description-container
    {
        margin-bottom : 560px;
    }

    .description-image
    {
        top : 11%;
    }

    .description-text 
    {
        margin-top: 34%;
        padding : 15px 15px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 120px;
        min-height: 110px;
        font-size : 12px;
    }

    .schools-box:hover
    {
        transform:scale(.8);
        margin : 0px;
    }

    #button
    {
        transform:scale(.9);
    }
}

@media all and (max-width : 380px)
{
    #header-title
    {
        top : 16%;
        font-size : 31px;
        line-height: 50px;
    }

    #header-subtitle
    {
        font-size : 16px;
    }

    #video-background
    {
        top : 0px;
    }

    .description-text:hover
    {
        padding : 20px;
        background-color : #0c1c8c;
    }

    .container
    {
        padding-left : 5px;
        padding-right : 5px;
    }

    .description-image
    {
        top : 10%;
        max-width : 85%;
    }

    .description-text 
    {
        margin-top: 34%;
        padding : 5px 5px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 100px;
        min-height: 110px;
        font-size : 10px;
    }
}