@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
}

body
{
    background: linear-gradient(
    #0096C9 100%, 
    #00468D 0% 
      );

    /*background: linear-gradient(#0096C9 0, #0096C9 60%, #00468D 60%, #00468D 82%, #0096C9 82%, #0096C9 100%); */

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear;

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

#video-background
{
    position : absolute;
    min-width: 100%;
    min-height: 100%;
    z-index : -1;

    right: 0;
    bottom: 0;
    transform: translateX(calc((100% - 100vw) / 2));

    display : flex;
    justify-content: center;
    top : -90px;
}

.header
{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .4),
        rgba(0, 30, 96, 0.4),
        rgba(0, 70, 141, 0.4),
        rgba(0, 30, 96, 0.99)
     );

    background-repeat : no-repeat;

    min-height: 130vh;
    max-height: 130vh;
    position: relative;
    overflow : hidden;
}

.header-container
{
    display: flex;
    flex-direction: column;
}


#header-title
{
    color: white;
    font-size : clamp(36px, 4vw, 60px);
    font-family: 'Poppins', sans-serif;
    line-height: 120px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);

    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position : relative;

    height : 45vh;
}

#header-subtitle
{
    color: white;
    font-size : 26px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);

    margin : auto;
    margin-top : auto;
    justify-content: center;
    align-items: center;
    position : absolute;
    bottom : 26%;
    left: 2%;
    right: 2%;
}

#header-button
{
    width : 100%;
    text-align: center;
    display : flex;
    justify-content: center;
}

#button
{
    color : #001E60;
    font-size : 25px;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    text-decoration: none;

    background-color : #ecaa1e;
    border-color : white;
    border-radius: 10px;
    cursor: pointer;

    position : absolute;
    bottom : 52%;
    padding : 10px 40px;
    transition : all 0.3s ease-in-out;
}

#button:hover
{
    color : white;
    background-color :#00468D
}


.header-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
}

.container-title
{
    color: white;
    font-size : clamp(18px, 2.3vw, 32px);
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    text-decoration: none;
    text-align: center;

    background-color: #001E60;

    right : 50%;
    margin-left : 5%;
    margin-right : 5%;
    border-radius: 10px;
    padding : 10px 10px;
    margin-bottom : 30px;
    justify-content : center;
}


.container
{
    padding-left: 150px;
    padding-right: 150px;

    display : flex;
    justify-content : space-evenly;
    flex-direction : row;
    flex-flow : wrap;
}

.schools-box
{
    color: white;
    background-color: #001E60;
    font-family: 'Merriweather', serif;
    font-size : 14px;

    text-align: center;
    text-decoration: none;

    border-radius : 25px;

    margin: 25px;
    padding: 10px;
    width: 160px;
    min-height : 160px;
    margin-top : 25px;

    transition: 300ms ease ;
}

.schools-box:hover
{
    background-color: #00468D;
    transform: scale(1.1);
}

.icon 
{
    display: grid;
    margin: 0;
    border: 0;
}

.icon-text
{
    display: block;
    padding-top : 15px;
    letter-spacing: 1.5px;
}

.subtext-container
{
    display : flex;
    margin-right : 5px;
    margin-left : 5px;
    text-align: center;
    justify-content: space-evenly;
}

.subtext
{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    text-align: center;
    cursor: pointer;

    margin-top : 60px;
    margin-left : 10px;
    margin-right : 10px;
    padding : 15px 12%;
    border-radius : 20px;
}

#left-subtext
{
    color:#001E60;
    background-color: #ecaa1e;
    transition : all 0.3s ease-in-out;
}

#right-subtext
{
    color : white;
    background-color: #001E60;
    transition : all 0.3s ease-in-out;
}

#left-subtext:hover
{
    color : white;
    background-color: #00468D;
}

#right-subtext:hover
{
    background-color: #00468D;
}

.description-container
{
    position : relative;
    margin-top : 100px;
}

.text-video-container
{
    display : flex;
    justify-content : space-evenly;
    flex-flow : wrap;
    align-items: center;
    margin-bottom : 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.description-title
{
    color: white;
    text-decoration: none;

    position : relative;
    min-width : 43%;

    margin-right : 5%;
    margin-left : 5%;
    margin-bottom : 3%;

    background-color: #001E60;
    border-radius: 10px;
}

.description-title p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(18px, 3vw, 36px);
    text-align: center;
    padding : 10px 25px;
}

.description-text
{
    color: white;
    font-size : clamp(10px, 4vh, 21px);
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    line-height: 50px;

    position : relative;
    width : 45%;
    padding : 18px 25px;
    border-radius: 20px; 
    background-size: cover;
    transition: 300ms ease ;
}

.description-text:hover
{
    background-color : #00468D;
}

.description-image
{
    background-repeat : no-repeat;
    position : relative;
}

iframe
{
    width: 650px;
    height: 366px;
}


.description-wrapper
{
    display : flex;
    justify-content: center;
}

.description-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    margin-top : 50px;
}

.diagram
{
    float : left;
    max-width: 40%;
}

#benefits-container
{
    color: white;
    text-decoration: none;
    position : relative;
    margin-bottom : 10px;
    margin-right : 20px;
    display : inline-block;
}

#benefits-container p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(20px, 3vw, 35px);
    text-align: center;
    padding : 10px 25px;

    background-color: #0096C9;
    background-color: #001E60;
    border-radius: 10px; 
}

.benefits-list
{
    margin-left : 20px;
    margin-top : 25px;
}

.benefits-text
{
    color: white;
    font-size : 22px;
    font-size : clamp(12px, 2vw, 19px);
    font-family: 'Poppins', sans-serif;
    line-height: 90px;
}

.benefits-text u
{
    text-decoration: none;
    transition: 300ms ease ;
}

.benefits-list:hover .benefits-text u
{
    color :#ecaa1e;
}

#footer
{
    color: whitesmoke; background-color : #2e3030; border-bottom:1px solid #3B3B3B; height:160px;
    margin-top: auto;
    justify-self: flex-end;
    width : 100vw;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    place-content: center;
    place-items : center;
}

.footer-text
{
    text-align: center;
    padding-top : 40px;
    padding-bottom : 40px;
}

@media all and (max-width : 1800px)
{
    .container
    {
        padding-left : 160px;
        padding-right : 160px;
    }

    .schools-box
    {
        margin : 45px;
    }
}

@media all and (max-width : 1600px)
{
    .description-text
    {
        font-size : clamp(10px, 4vh, 19px);
    }

    .diagram
    {
        margin-top : 40px;
        float : left;
        max-width: 46%;
    }

    .benefits-text
    {
        font-size : clamp(12px, 2vw, 19px);
        line-height: 75px; 
    }

    .container
    {
        padding-right : 120px;
        padding-left : 120px;
    }

    .schools-box
    {
        margin : 35px;
    }
    
}

@media all and (max-width : 1320px)
{
    .description-text
    {
        line-height: 45px;
        padding : 18px 25px;      
    }  

    iframe
    {
        width: 550px;
        height: 309px;
        display:block;
        margin: auto;
    }
}


@media all and (max-width : 1240px)
{

    body
    {
        /*background: linear-gradient(#0096C9 0, #0096C9 60%, #00468D 60%, #00468D 80%, #0096C9 80%, #0096C9 100%); */
    }

    .description-container
    {
        margin-bottom : 600px;
    }

    .description-curve
    {
        transform: translateY(100px);
    }

    .description-text
    {
        width : 90%;
        min-height : 20%;
        padding : 20px;
    }

    .container
    {
        padding-left : 50px;
        padding-right : 50px;
    }

    .subtext
    {
        font-size: 20px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 8%;
    }

    .description-image
    {
        padding-top : 5%;
    }
}

@media all and (max-width : 1030px)
{

    #header-subtitle
    {
        font-size: 20px;
    }

    .subtext
    {
        font-size: 18px;
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -40px;
    }

    #container-title
    {
        margin-right: 2%;
        margin-left: 2%;
    }

    #header-title
    {
        line-height: 80px;
    }
    
    .container
    {
        padding-left : 40px;
        padding-right : 40px;
    }

    .schools-box
    {
        transform:scale(.8);
        margin : 0px;
    }

    .schools-box:hover
    {
        transform:scale(.9);
        margin : 0px;
    }

    .description-container
    {
        margin-top : 80px;
    }

    .description-text p
    {
        font-size : 16px;
        line-height: 45px;
    }

    .description-text
    {
        padding : 30px;
    }

    .description-curve
    {
        transform: translateY(0px);
    }
}

@media all and (max-width : 850px)
{
    iframe
    {
        width: 450px;
        height: 253px;
    }

    .description-text:hover
    {
        background-color :#0096C9;
    }
}

@media all and (max-width : 780px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 30px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }

    .subtext
    {
        font-size: 17px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -20px;
    }

    .navigation-button
    {
        padding : 15px 15px;
    }

    #header-title
    {
        line-height: 70px;
        height : 50vh;
    }

    #header-subtitle
    {
        font-size: 22px;
    }

    .container
    {
        padding-left : 40px;
        padding-right : 40px;
    }

    #last-box
    {
        display: none;
    }

    #container-title
    {
        margin-right: 1%;
        margin-left: 1%;
    }

    .description-text p
    {
        font-size : 15px;
        line-height: 35px;
    }

    iframe
    {
        width : 420px;
        height : 236px;
        display:block;
        margin: auto;
    }
}

@media all and (max-width : 560px)
{
    .container
    {
        padding-left : 30px;
        padding-right : 30px;
    }

    iframe
    {
        width : 400px;
        height : 225px;
    }

    .schools-box
    {
        margin : 0px;
        width : 130px;
        font-size : 13px;
    }

    .description-text p
    {
        font-size : 13px;
        line-height: 30px;
    }

    .subtext
    {
        font-size: 15px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3.5%;
    }

}

@media all and (max-width : 480px)
{

    iframe
    {
        width : 320px;
        height : 180px;
    }

    .subtext
    {
        font-size: 13px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3%;
    }

    #header-title
    {
        line-height: 60px;
    }

    #header-subtitle
    {
        font-size : 18px;
    }

    .container
    {
        width : 100%;
        padding-left : 10px;
        padding-right : 10px;
    }

    .description-text 
    {
        padding : 15px 15px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 120px;
        min-height: 110px;
        font-size : 12px;
    }

    .schools-box:hover
    {
        transform:scale(.8);
        margin : 0px;
    }

    #button
    {
        transform:scale(.9);
    }
}

@media all and (max-width : 380px)
{
    iframe
    {
        width : 280px;
        height : 158px;
    }

    #header-title
    {
        font-size : 31px;
        line-height: 50px;
        margin-left: 3%;
        margin-right: 3%;
    }

    #header-subtitle
    {
        font-size : 16px;
    }

    .container
    {
        padding-left : 5px;
        padding-right : 5px;
    }

    .description-text 
    {
        padding : 5px 5px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 100px;
        min-height: 110px;
        font-size : 10px;
    }
}