@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
}

body
{
    background: linear-gradient(
    #0096C9 100%, 
    #00468D 0% 
      );
      
    width: 100%;
    height: 100%;
    min-height: calc(100vh);
    position: relative;
}

@keyframes fadeIn 
{
    0% { opacity: 0;
        transform : translatey(10px); }
    100% { opacity: 1;
        transform : translatey(0px); }

}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear;

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

#video-background
{
    position : absolute;
    min-width: 100%;
    min-height: 100%;
    z-index : -1;

    right: 0;
    bottom: 0;
    transform: translateX(calc((100% - 100vw) / 2));

    display : flex;
    justify-content: center;
    top : -90px;
}

.header
{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .5),
        rgba(0, 40, 96, 0.5),
        rgba(0, 70, 141, 0.5),
        rgba(0, 60, 96, 0.99)
     );

    background-repeat : no-repeat;

    min-height: 130vh;
    max-height: 130vh;
    position: relative;
    overflow : hidden;
}

.header-container
{
    display: flex;
    flex-direction: column;
}


#header-title
{
    color: white;
    font-size : clamp(36px, 4vw, 60px);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 110px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 50%);

    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position : relative;
    animation: fadeIn 1s;

    height : 45vh;

    color: #fff;
}

#header-subtitle
{
    color: white;
    font-size : 26px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0px 3px 3px rgb(0 0 0 / 80%);
    animation: fadeIn 1s;

    margin : auto;
    margin-top : auto;
    justify-content: center;
    align-items: center;
    position : absolute;
    bottom : 28%;
    left: 2%;
    right: 2%;
}

#header-button
{
    width : 100%;
    text-align: center;
    display : flex;
    justify-content: center;
    animation: fadeIn 1s;
}

#button
{
    color : #001E60;
    font-size : 25px;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    text-decoration: none;

    background-color : #ecaa1e;
    border-color : white;
    border-radius: 10px;
    cursor: pointer;

    position : absolute;
    padding : 10px 40px;
    transition : all 0.3s ease-in-out;
}

#button:hover
{
    color : white;
    background-color :#00468D
}

.header-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
}

.container-title
{
    color: white;
    text-decoration: none;
    position: relative;
    min-width: 43%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    background-color: #001E60;
    border-radius: 10px;
}

.container-title p
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: clamp(18px, 3vw, 36px);
    text-align: center;
    padding: 10px 25px;
}

.container
{
    position: relative;
    margin-top : 20px;
}

.categories-container
{
    position : relative; 
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    flex-flow: wrap;
    padding-right : 5%;
    padding-left : 5%;
}

.category-box  
{
    position : relative;
    width : 21%;
    background-size: cover;
    float : left;
    margin : 1% 2%;
    box-sizing : border-box;
    overflow : hidden;
    border-radius : 10px;
    cursor: pointer;
    transition: 300ms ease ;
    text-decoration: none;
}

.box
{
    position: relative;
    text-align: center;
}

#career
{
    max-width: 100%;
    max-height: 100%;
}

#club
{
    max-width: 100%;
    max-height: 100%;
}

#volunteer
{
    max-width: 100%;
    max-height: 100%;
}

#internship
{
    max-width: 100%;
    max-height: 100%;
}

#box1:hover
{
    transform: scale(1.05);
}

#box2:hover
{
    transform: scale(1.05);
}

.box-header-text
{
    color : white;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    font-size: 2.5vw;
    margin-top : 20px;
    text-shadow: 2px 1px 8px rgb(0 0 0 / 100%);
    background-color: rgba(0, 0, 0, 0.3);
}

.preview-text
{
    color : #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    font-size: 2.5vw;
    background-color: #00468D;
    position: absolute;
    top : 8%;
    width : 100%;
}

#career-text
{
    position: absolute;
    top : .6%;
}

#club-text
{
    position: absolute;
    top : .6%;
}

#volunteer-text
{
    position: absolute;
    bottom : 8%;
}

.description-container
{
    position : relative;
    margin-top : 5%;
}

.text-video-container
{
    display : flex;
    justify-content : space-evenly;
    flex-flow : wrap;
    align-items: center;
    padding-bottom : 250px;
    padding-right: 5%;
    padding-left: 5%;
}

.description-title
{
    color: white;
    text-decoration: none;

    position : relative;
    min-width : 43%;

    margin-right : 5%;
    margin-left : 5%;
    margin-bottom : 3%;

    background-color: #001E60;
    border-radius: 10px;
}

.description-title p
{
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    font-size : clamp(18px, 3vw, 36px);
    text-align: center;
    padding : 10px 25px;
}

.description-text
{
    color: white;
    font-size : clamp(10px, 4vh, 21px);
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    line-height: 50px;

    position : relative;
    width : 45%;
    padding : 18px 25px;
    border-radius: 20px; 
    background-size: cover;
    transition: 300ms ease ;
}

.description-text:hover
{
    background-color : #00468D;
}

.description-image
{
    background-repeat : no-repeat;
    position : relative;
}

iframe
{
    width: 650px;
    height: 366px;
}


.description-wrapper
{
    display : flex;
    justify-content: center;
}

.description-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    margin-top : 50px;
}

.diagram
{
    float : left;
    max-width: 40%;
}

.loader-wrapper 
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00468D;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader 
{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner 
{
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader--hidden
{
  opacity: 0;
  visibility: hidden;
}

@keyframes loader 
{
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner 
{
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

footer 
{
    background-color: #00468D;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding : 1% 10%;
}

.footer-text
{
    margin : 20px 10px;
}

.footer-container
{
    margin : 20px 0px;
}

.footer-container a
{
    color : white;
    margin : 20px 20px;
    text-decoration: none;
}

@media all and (max-width : 2400px)
{
    .schools-box
    {
        width : 200px;
        min-height : 200px;
        padding-top : 30px;
        margin : 50px;
    }

    .fa-3x
    {
        font-size: 4em;
        padding-top: 8px;
    }

    .icon-text
    {
        font-size : 18px;
    }
}

@media all and (max-width : 1800px)
{
    .schools-box
    {
        padding-top : 10px;
        margin : 45px;
        width : 160px;
        min-height : 160px;
    }

    .fa-3x
    {
        font-size: 3em;
    }

    .icon-text
    {
        font-size : 14px;
    }
}

@media all and (max-width : 1600px)
{
    .description-text
    {
        font-size : clamp(10px, 4vh, 19px);
    }

    .diagram
    {
        margin-top : 40px;
        float : left;
        max-width: 46%;
    }

    .benefits-text
    {
        font-size : clamp(12px, 2vw, 19px);
        line-height: 75px; 
    }

    .schools-box
    {
        margin : 35px;
    }
    
}

@media all and (max-width : 1320px)
{
    .description-text
    {
        line-height: 45px;
        padding : 18px 25px;      
    }  

    iframe
    {
        width: 550px;
        height: 309px;
        display:block;
        margin: auto;
    }
}

@media all and (max-width : 1240px)
{
    .description-curve
    {
        transform: translateY(100px);
    }

    .description-text
    {
        width : 90%;
        min-height : 20%;
        padding : 20px;
    }

    .subtext
    {
        font-size: 20px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 8%;
    }

    .description-image
    {
        padding-top : 5%;
    }

    .category-box
    {
        margin : 3% 2%;
    }
}

@media all and (max-width : 1030px)
{

    #header-subtitle
    {
        font-size: 24px;
    }

    .subtext
    {
        font-size: 18px;
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -40px;
    }

    #container-title
    {
        margin-right: 2%;
        margin-left: 2%;
    }

    #header-title
    {
        line-height: 80px;
    }

    .schools-box
    {
        transform:scale(.8);
        margin : 0px;
    }

    .schools-box:hover
    {
        transform:scale(.9);
        margin : 0px;
    }

    .description-text p
    {
        font-size : 16px;
        line-height: 45px;
    }

    .description-text
    {
        padding : 30px;
    }

    .description-curve
    {
        transform: translateY(0px);
    }
}

@media all and (max-width : 850px)
{
    iframe
    {
        width: 450px;
        height: 253px;
    }

    .description-text:hover
    {
        background-color :#0096C9;
    }
}

@media all and (max-width : 780px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 10px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }

    .subtext
    {
        font-size: 17px;
    
        margin-top : 60px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 12px 7%;
    }

    #video-background
    {
        top : -20px;
    }

    #header-title
    {
        line-height: 70px;
        height : 35vh;
        padding: 0px 20px;
        margin-top: 12%;
    }

    #header-subtitle
    {
        font-size: 22px;
        left: 5%;
        right: 5%;
    }

    #last-box
    {
        display: none;
    }

    #container-title
    {
        margin-right: 1%;
        margin-left: 1%;
    }

    .description-text p
    {
        font-size : 15px;
        line-height: 35px;
    }

    iframe
    {
        width : 420px;
        height : 236px;
        display:block;
        margin: auto;
    }
}

@media all and (max-width : 560px)
{
    .category-box
    {
        width : 38%;
        margin : 3% 4%;
    }

    .box-header-text
    {
        font-size: 4.5vw;
    }

    .preview-text
    {
        font-size: 4.5vw;
    }

    #club-text
    {
        top : -5%;
    }

    #career-text
    {
        top : -5%;
    }

    iframe
    {
        width : 400px;
        height : 225px;
    }

    .schools-box
    {
        margin : 0px;
        width : 130px;
        font-size : 13px;
    }

    .description-text p
    {
        font-size : 13px;
        line-height: 30px;
    }

    .subtext
    {
        font-size: 15px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3.5%;
    }

    #header-title
    {
        margin-top : 20%;
    }

}

@media all and (max-width : 480px)
{

    iframe
    {
        width : 320px;
        height : 180px;
    }

    .subtext
    {
        font-size: 13px;
    
        margin-top : 30px;
        margin-left : 10px;
        margin-right : 10px;
        padding : 10px 3%;
    }

    #header-title
    {
        line-height: 60px;
        height: 40vh;
        font-size: 32px;
        margin-top: 15%;
    }

    #header-subtitle
    {
        font-size : 18px;
    }

    .fa-3x
    {
        padding-top: 0px;
    }

    .description-text 
    {
        padding : 15px 15px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 120px;
        min-height: 110px;
        font-size : 12px;
    }

    .schools-box:hover
    {
        transform:scale(.8);
        margin : 0px;
    }

    #button
    {
        transform:scale(.9);
    }

    .icon-text
    {
        font-size : 12px;
    }

    .categories-container
    {
        padding-right : 0%;
        padding-left : 0%;
    }
}

@media all and (max-width : 380px)
{
    iframe
    {
        width : 280px;
        height : 158px;
    }

    #header-title
    {
        font-size: 30px;
        height: 50vh;
        margin-top: 5%;
        line-height : 55px;
    }

    #header-subtitle
    {
        font-size : 16px;
    }

    .description-text 
    {
        padding : 5px 5px;
    }

    .description-text p
    {
        font-size : 12px;
        line-height: 25px;
    }

    .schools-box
    {
        margin : 0px;
        width : 100px;
        min-height: 110px;
        font-size : 10px;
    }

    .icon-text
    {
        font-size : 10px;
        padding-top: 8px;
    }
}