.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;

    position: fixed;
    width: 100%;
    z-index: 9999;}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear; 
    text-decoration: none;
}

.coming-soon {
    color: gray;
}

.nav-bar-wrapper {
    display: flex;
    flex-direction: column;
}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 4px 16px 4px 16px;
    gap: 16px;
    transition: background-color 0.5s ease;
    width: 100%;
}

a > .navigation-menu {
    text-decoration: none;
}

#nav-menu-search-bar {
    flex-grow: 1;
    background-color: transparent;
    border: 2px solid #ecaa1e;
    border-radius: 50px;
    padding: 5px;
    transition: background-color 1s ease;
}

.scrolled {
    background-color: #001E60;
    transition: background-color 0.5s ease;
}

.scrolled > #nav-menu-search-bar {
    background-color: white;
    transition: background-color 1s ease;
}

#nav-menu-search-bar::placeholder {
    color: white;
    opacity: 1;
}

#nav-menu-search-bar:-ms-input-placeholder{
    color: white;
}

#nav-menu-search-bar::-ms-input-placeholder{
    color: white;
}

.scrolled > #nav-menu-search-bar::placeholder {
    color: black;

}

.scrolled > #nav-menu-search-bar:-ms-input-placeholder{
    color: black;
}

.scrolled > #nav-menu-search-bar::-ms-input-placeholder{
    color: black;
}

.navbar-logo {
    max-height: 50px;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

.navigation-sub-menu {
    opacity: 0;
    transition: opacity 1s ease;
    font-size: small;
    text-align: center;
    gap: 0;
}

.navigation-sub-menu.scrolled {
    opacity: 100;
}

@media all and (max-width : 780px)
{
    .navigation-menu {
        flex-direction: column;
        width: 75vw;
    }

    .navigation-hamburger
    {
        z-index : 9999;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0px;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navbar-logo{
        left: 45vw;
        top: 12px;
        position: fixed;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        left : -75%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        text-align : center;
        z-index : 5;
        padding-right : 0;
        top: 7%;
        width: 75vw;

        transition : 0.3s ease-in-out;
        max-width: 100%;
        background-color: #001E60;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 10px;
    }

    .navigation-bar.active 
    {
        left : 0vw;
    }

    .navigation-sub-menu{
        opacity: 100;
        background-color: #001E60;
    }

    #nav-menu-search-bar {
        background-color: white;
        transition: background-color 1s ease;
    }

    #nav-menu-search-bar::placeholder {
        color: black;
    }

    #nav-menu-search-bar:-ms-input-placeholder{
        color: black;
    }

    #nav-menu-search-bar::-ms-input-placeholder{
        color: black;
    }
}