.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear; 

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

@media all and (max-width : 780px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -30%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 10px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }
}