*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-image: linear-gradient(
        #0096C9 80%, 
        #2645bf 20% );

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : none;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-style: solid;
    border-radius : 20px;

    transition : all 0.2s linear;
}

.navigation-text:hover
{
    color : #0c1c8c;
}

#video-background
{
    position : absolute;
    min-width: 100%;
    min-height: 100%;
    z-index : -1;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-bar
{
    display : flex;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}