*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-image: linear-gradient(
        #0096C9 100%, 
        #2645bf 00% );

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

form
{
    width: 800px;
    margin : 0 auto;
    margin-top: 30px;
    margin-bottom : 60px;
    padding: 30px;
    border: 2px solid #001E60;
    border-radius: 10px;
    background-color: #00468D;
  }

  .text-container
  {
    display : flex;

  }

  #introduction-container
  {
    margin-bottom: 40px;
    background-color: #001E60;
    border-radius: 15px;
  }
  
  #introduction-text
  {
    color :white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    line-height: 30px;
    padding : 10px 20px;
  }

  .form-text
  {
    margin-bottom: 10px;
    margin-right : 10px;
    color :white;

    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    cursor: pointer;
  }
  
  input[type="text"], input[type="email"] 
  {
    width: 40%;
    padding: 8px 10px;
    margin-bottom : 30px;
    margin-top : 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size : 15px;
  }

  #description
  {
    width : 100%;
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size : 15px;
    margin-bottom: 30px;
    margin-top : 20px;
  }

  .checkbox
  {
    width: 20px;
    height: 20px;
    margin-top: 30px;
  }

  .checkbox-text
  {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size : 18px;
    padding : 5px 5px;
    line-height: 25px;

  }
  
  input[type="submit"] 
  {
    width: 100%;
    background-color: #001E60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    cursor: pointer;
    letter-spacing: 2px;

    transition: 300ms ease ;
  }
  
  input[type="submit"]:hover 
  {
    background-color: #ecaa1e;
    color : #00468D;
  }
  
  .error 
  {
      color: red;
      margin-top: 5px;
  }

  @media all and (max-width : 1000px)
  {
    form
    {
      width: 700px;
    }

    input[type="text"], input[type="email"] 
    {
      width: 50%;
    }
  }

  @media all and (max-width : 800px)
  {
    form
    {
      width: 550px;
    }

    input[type="text"], input[type="email"] 
    {
      width: 60%;
    }

  }

  @media all and (max-width : 600px)
  {
    form
    {
      width: 450px;
      padding : 20px;
    }

    input[type="text"], input[type="email"] 
    {
      width: 75%;
    }

    #introduction-text
    {
      font-size: 14px;
      line-height: 25px;
    }
  }

  @media all and (max-width : 500px)
  {
    form
    {
      width: 380px;
    }

  }

  @media all and (max-width : 420px)
  {
    form
    {
      width: 340px;
    }

    .form-text
    {
      font-size: 14px;
    }

    input[type="text"], input[type="email"] 
    {
      width: 90%;
      font-size: 14px;
    }
  }

  @media all and (max-width : 350px)
  {
    form
    {
      width: 300px;
    }
  }