@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background :  #0096C9;

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

.service-container
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: 300ms ease;
    position: relative;
    padding-top: 100px;
}

.service-title
{
    color: white;
    font-size: clamp(22px, 2.3vw, 32px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    background-color: #001E60;
    margin-left: 5%;
    margin-right: 5%;
    margin-top : 1%;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.service-info-container
{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.service-info2-container
{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom : 8%;
    padding-bottom: 5%;
}


.MANRRS-picture
{
    width : 500px;
}

.service-picture
{
    padding-left: 20px;
    padding-right: 20px;
}

.service-author
{
    font-size : 25px;
    display: flex;
    justify-content: center;
}

.service-header
{
    text-decoration: underline;
    font-size : 22px;
    display: flex;
    justify-content: center;
}

.link
{
    color : white;
}

.service-details
{
    color: white;
    background-color: #00468D;
    font-size: clamp(8px, 3vh, 20px);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 50px;
    position: relative;
    width: 45%;
    padding: 18px 25px;
    border-radius: 20px;
    background-size: cover;
    transition: 300ms ease;
}

.service-details u
{
    text-decoration: none;
    color: #ecaa1e;
}

.service-description
{
    color: white;
    background-color: #00468D;
    font-size: clamp(10px, 4vh, 20px);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 50px;
    position: relative;
    padding: 18px 25px;
    border-radius: 20px;
    background-size: cover;
    transition: 300ms ease;
    margin : 40px 7%;
}

.sign-up-container
{
    width : 45%;
}

.form-text
{
  display: block;
  margin-bottom: 10px;
  color :white;

  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight : 500;
  cursor: pointer;
}

.sign-up-title
{
    color: white;
    font-size: clamp(20px, 2.3vw, 32px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    background-color: #001E60;
    margin-top : 2%;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.form-container
{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: center;
}

.text-container
{
    margin-right : 30px;
}

input[type="text"], input[type="email"] 
{
  padding: 8px 10px;
  margin-bottom : 30px;
  margin-top : 1px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size : 15px;
  width : 250px;
}

input[type="submit"] 
{
  width: 100%;
  background-color: #001E60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight : 600;
  cursor: pointer;
  letter-spacing: 2px;

  transition: 300ms ease ;
}

input[type="submit"]:hover 
{
  background-color: #ecaa1e;
  color : #00468D;
}

#hyperlink
{
    color : whitesmoke;
}

@media all and (max-width : 1200px)
{
    .MANRRS-picture
    {
        width : 420px;
    }

}

@media all and (max-width : 988px)
{
    .service-info-container
    {
        padding-right: 3%;
        padding-left: 3%;
    }

    .service-author
    {
        font-size: 22px;
    }

    .service-header
    {
        font-size: 19px;
    }

    .service-description
    {
        font-size : 17px;
    }

    .service-details
    {
        width : 40%;
        font-size: 17px;
        padding: 14px 20px;
    }

    .service-picture
    {
        padding-right : 10px;
        padding-left: 10px;
    }

    .MANRRS-picture
    {
        width : 360px;
    }
}

@media all and (max-width : 780px)
{
    body
    {
    margin-top: 0px;
    }
    
    .MANRRS-picture
    {
        width : 420px;
    }

    .service-picture
    {
        padding-right : 10px;
        padding-left: 10px;
        margin-bottom : 30px;
    }

    .service-details
    {
        width : 80%;
        line-height: 40px;
    }

    .service-description
    {
        font-size : 16px;
        line-height: 40px;
    }

    .sign-up-container
    {
        width : 90%;
        margin-top : 30px;
    }
}

@media all and (max-width : 480px)
{
    .service-info2-container
    {
        padding-right: 2%;
        padding-left: 2%; 
    }

    .service-title
    {
        margin-top : 20px;
    }

    .MANRRS-picture
    {
        width : 300px;
    }
    .service-details
    {
        width : 90%;
        font-size: 15px;
        padding: 10px 14px;
    }

    .service-description
    {
        font-size : 15px;
        line-height: 30px;
    }

    .form-container
    {
        justify-content: center;
    }

}

@media all and (max-width : 340px)
{

    .navigation-text
    {
        padding-right : 0px;
        padding-left : 0px;
    }

    .MANRRS-picture
    {
        width : 260px;
    }

    .service-details
    {
        width : 95%;
        font-size: 14px;
    }

    .service-description
    {
        font-size : 14px;
    }

}