*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-image: linear-gradient(
        #0096C9 100%, 
        #2645bf 00% );

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

article 
{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* border-style: solid;
    border-radius : 20px; */

    transition : all 0.2s linear;

}

.navigation-text:hover
{
    color : #0c1c8c;
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
   /* width : 100%; */
    height : 3px;
    background-color : white;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;

}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

.search-container
{
    width : 100%;
    padding-left : 2.5%;
    padding-top : 1%;
    align-items: center;
    justify-content: center;
}

.search-bar
{
    width : 100%;
    max-width : 600px;
    background : transparent;
    display : flex;
    align-items: center;
    border-radius : 60px;
    padding : 5px 15px;
    backdrop-filter: blur(4px) saturate(180%);
    background-color: #00468D;
    transition : all 0.3s ease-in-out;

    margin-bottom : 20px;
    margin-top : 20px;
}

/*
.search-bar:hover
{
    background-color: #0c1c8c;
    max-width: 700px;
}
*/

.search-bar input
{
    background-color : transparent;
    flex : 1;
    border : 0;
    outline : none;
    padding : 24px 20px;
    font-size : 20px;
    color : whitesmoke;
}

::placeholder 
{
    color : white;
    transition: 300ms ease;
}

::placeholder:hover
{
    color : white;
}

.search-picture-container
{
    border : 0;
    border-radius : 50%;
    width : 60px;
    height : 60px;
    /* background: #00bfff; */
    background : #00468D;
    cursor : pointer;
    transition : all 0.3s ease-in-out;
}

.search-picture
{
    width : 25px;
}



.filter-container
{
    position : absolute;
    top : 12%;
    left : 72%;
    width : 26%;

    border-radius : 15px;

    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 10px;
    padding-right : 10px;

    margin-right: 50px;

    background-color:#00468D;
    transition: 300ms ease ;
}

/*
.filter-container:hover
{
    background-color:#0c1c8c;
}
*/

input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    background-color: aliceblue;
    height : 15px;
    width : 15px;
    cursor : pointer;
    border-radius : 10px;
    outline : none;

    align-items: center;
    justify-content: space-around;
}

input[type="checkbox"]:hover
{
    background-color:#0096C9;
}

input[type="checkbox"]:checked
{
    background-color:#00bfff;
}

input[type="checkbox"]:checked:after
{
    display : block;
}

.filter-header
{
    color: white;
    font-size : 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 50px;

    margin-left : 35%;
}

.filter-list
{
    list-style: none;
}

.filter-item
{
    padding-top : 8px;
    padding-bottom : 8px;
    padding-left : 20px;
    padding-right : 20px;
}

.filter-bubble
{
    transform:scale(1.3);
}

.filter-text
{
    color: white;
    font-size : 18px;
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    line-height: 50px;

    padding-left : 10px;
    cursor: pointer;
}

.filter-buttons
{
    padding-top : 10px;
    padding-bottom : 20px;
    padding-left : 20px;
}

input[type="submit"]
{
    font-family: 'Poppins', sans-serif;
    color : white;
    background: none;
	border: none;
    font-weight : 500;
    font-size : 18px;
    border-radius : 6px;
    -webkit-border-radius : 6px;
    cursor : pointer;
}

input[type="reset"]
{
    font-family: 'Poppins', sans-serif;
    color : white;
    background: none;
	border: none;
    font-weight : 500;
    font-size : 18px;
    border-radius : 6px;
    -webkit-border-radius : 6px;
    cursor : pointer;
}

.filter-submit
{
    padding : 8px;
}

.filter-reset
{
    padding : 8px;
    transform:translateX(50px);
}

.result-container
{
    background-color: #00468D;
    padding : 30px;
    color : white;
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    margin : 30px 40px;
    
    border-radius: 20px;
    max-width : 1000px;
    cursor : pointer;

    transition: 300ms ease ;
}

.result-container:hover
{
    background-color: #001E60;
}

.result-title
{
    color : #ecaa1e;
    margin-bottom : 10px;
}

@media all and (max-width : 1700px)
{
    .filter-container
    {
        top : 12%;
        left : 67%;
        width : 30%;
    }

    .filter-text
    {
        font-size : 17px;
        line-height: 45px;
    
    }

    .result-container
    {
        max-width: 900px;
    }

}

@media all and (max-width : 988px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 30px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }
}