*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body
{
    background-image: linear-gradient(
        #0096C9 100%, 
        #2645bf 00% );

    width: 100%;
    height: 100%;
    min-height: calc(100vh);
}

.navigation-bar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;

    text-align: right;
    list-style: none;
    padding-right : 20px;
}

.navigation-button
{
    display : inline-block;
    padding : 30px 20px;
}

.navigation-text
{
    color : white;
    text-decoration : underline;
    text-underline-offset: 8px;
    line-height: 10px;

    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition : all 0.2s linear;

}

#navigation-login
{
    color :#001E60;
    background-color: #ecaa1e;
    
    border-radius : 10px;

    padding : 7px 15px;
    text-decoration: none;
}

.navigation-text:hover
{
    color : #00468D;
}

#navigation-login:hover
{
    color : white;
    background-color :#00468D
}

.navigation-text:after
{
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
}

.navigation-menu
{
    min-height : 50px;
    justify-content: space-between;
    align-items: center;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

.title
{
    display: flex;
    justify-content: center;
}

.title p
{
    color: white;
    text-decoration: none;
    background-color: #001E60;
    border-radius: 10px;
    padding : 10px;
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    font-size : clamp(2vw, 2.6vw, 2.6vw);
    text-align: center;
    margin-top : 5%;
}

.description
{
    display: flex;
    justify-content: center;
}

.description p
{
    color: white;
    text-decoration: none;
    background-color: #00468D;
    border-radius: 10px;
    padding : 10px;
    font-family: 'Poppins', sans-serif;
    font-weight : 500;
    font-size : clamp(1.4vw, 1.5vw, 1.5vw);
    text-align: center;
    margin-top : 3%;
    line-height: 45px;
}

.button-container
{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button
{
    color: white;
    background-color: #001E60;
    font-size : clamp(1.6vw, 1.8vw, 1.8vw);
    font-family: 'Poppins', sans-serif;
    font-weight : 600;
    text-decoration: none;

    border-color : white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top : 4%;

    text-align: center;
    transition : all 0.3s ease-in-out;
}

.button:hover
{
    background-color :#00468D
}

@media all and (max-width : 780px)
{
    .navigation-hamburger
    {
        z-index : 5;
        display : block; 
        position : fixed;
        justify-content: center;
        padding-top : 10px; 
        padding-bottom : 10px;
        width : 100%;

        background-color: #0096C9;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        position : fixed;
        top : -20%;
        background-color: #0096C9;
        gap : 0;
        flex-direction : column;  
        width : 100%;
        text-align : center;
        z-index : 5;
        padding-right : 0;

        transition : 0.3s ease-in-out;
    }

    .navigation-button
    {
        margin-bottom : 15px;
        margin-top : 10px;
        padding : 15px 15px;
    }

    .navigation-bar.active 
    {
        top : 5%;
    }

    .title p
    {
        font-size : 20px;
        margin-top : 40px;
        margin-left : 40px;
        margin-right : 40px;
    }

    .description p
    {
        margin : 40px 10%;
        font-size : 16px;
        line-height: 30px;
    }

    .button
    {
        font-size : 20px;
    }
}