#contact-form-title
{
    font-size: clamp(25px, 4vw, 30px);
    margin-bottom: 10px;
}

#contact-form-subtitle
{
    font-size: clamp(16px, 4vw, 24px);
}


.contact-form-group
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom : 30px;
}

.contact-form-label
{
    margin-bottom : 5px;
    font-size: 20px;
    color : white;
}

.contact-form-input
{
    width: 50%;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom : 1px solid white;
    color : var(--dark-secondary-color);
    background-color: white;
}

.contact-form-message
{
    width: 80%;
    font-size: 16px;
    border: 1px solid white;
    background: none;
    outline: none;
    color : var(--dark-secondary-color);
    padding : 10px;
    margin-top : 10px;
    background-color: white;
}

#form-submit-button
{
    width: 100%;
    background-color: var(--dark-secondary-color);
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top : 20px;
    transition: 300ms ease;
}

#form-submit-button:hover
{
    background-color: var(--accent-color);
    color: var(--dark-secondary-color);
}

::placeholder 
{
    color : var(--dark-secondary-color);
    opacity: 1; 
}

@media all and (max-width : 1250px)
{
    .contact-form-input
    {
        width : 60%;
    }
}

@media all and (max-width : 850px)
{
    .contact-form-input
    {
        width : 100%;
    }

    .contact-form-message
    {
        width : 100%;
    }
}

@media all and (max-width : 450px)
{
    .contact-form-label
    {
        font-size: 16px;
    }

    .contact-form-input
    {
        font-size : 15px;
        height: 40px;
    }

    ::placeholder 
    {
        font-size: 14px;
    }
}

