footer 
{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    width: 100%;
    padding : 30px 10%;
}

.footer-text
{
    margin : 20px 10px;
}

.footer-container
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer-container a
{
    color : white;
    margin : 10px 20px;
    text-decoration: none;
}

.footer-container a i
{
    text-align: center;
    width: 100%;
}

#tech-support
{
    color : var(--secondary-color);
    transition : all 0.3s ease-in-out;
    font-weight: 500;
    background-color: var(--accent-color);
    padding : 10px 12px;
    border-radius : 15px;
}

#tech-support:hover
{
    color: white;
    background-color: var(--dark-secondary-color);
}

@media all and (max-width : 480px)
{
    footer
    {
        padding : 20px 10px;
        font-size : 12px;
    }

    .footer-container a i
    {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

