@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@keyframes NavfadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.navigation-bar
{
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.navigation-menu
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 15px 25px 15px 25px;
    gap: 16px;
    transition: background-color 1s ease;
    max-width: 1600px;
    width: 100vw;
    animation: NavfadeIn 1s;
}

.navigation-text
{
    color : white;
    line-height: 10px;
    margin: 5px 15px 5px 15px;
    transition : all 0.2s linear; 
    cursor: pointer;
}

.navigation-text:hover
{
    color : var(--accent-color);
}

#navigation-login
{
    color : white;
    position: relative;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-radius : 10px;
    padding : 12px 15px;
    margin-right : 20px;
    margin-left : 15px;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    z-index: 999;
}

#navigation-login:hover
{
    color : var(--dark-secondary-color);
    border-color: var(--accent-color);
    z-index: 999;
}

#navigation-login::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius : 9px;
    background-color: var(--accent-color);
    z-index: -1;
    transform-origin: top right;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

  #navigation-login:hover::after
{
    transform: scaleX(1);
    transform-origin: top left;
}

#navigation-search-bar 
{
    flex-grow: 1;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 16px;
    color : white;
    position: relative;
}

#navigation-search-bar-input
{
    width: 100%;
    background-color: transparent;
    color: white;
    padding-right: 40px;
}


#navigation-search-bar-icon
{
    position: absolute;
    height: 22px;
    right : 18px;
    top: 7px;
}

.navbar-logo 
{
    max-height: 55px;
    margin-right : 20px;
}

.navigation-hamburger
{
    display : none;
    cursor : pointer;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px 25px 18px 25px;
    gap: 0px;
    max-width: 1600px;
    width: 100vw;
}

.navigation-line
{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color : white;
}

.navigation-bar-not-fixed 
{
    position: relative;
    opacity: 100%;
}

.navigation-bar-scrolled 
{
    background-color: var(--dark-secondary-color);
    transition: background-color 1s ease;
}

#navigation-logo-container
{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
    width: 100%;
}

.user-profile-image
{
    width : 52px;
    border-radius: 50%;
    margin: 0px 15px 0px 10px;
}
 
@media all and (max-width : 1200px)
{
    .navigation-menu
    {
        gap: 0px;
        font-size: 15px;
    }

    #navigation-login
    {
        margin-right : 0px;
        padding: 10px 10px;
    }

    #navigation-search-bar
    {
        font-size: 15px;
        padding: 8px 12px;
    }
}

@media all and (max-width : 850px)
{
    .navigation-menu 
    {
        flex-direction: column;
        padding-top: 50px;
        font-size: 18px;
        width: 50vw
    }

    .navigation-hamburger
    {
        z-index : 9999;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width : 100vw;
        top: 0px;
        background-color: var(--dark-secondary-color);
        padding: 12px 25px 12px 25px;
    }

    .navbar-logo
    {
        display: none;
        margin-right : 0px;
    }

    .navbar-logo.mobileLogo
    {
        margin-right : 0px;
        max-height: 42px;
        display: block;
        animation: NavfadeIn 1s;
    }

    .navigation-hamburger.active .navigation-line:nth-child(2)
    {
        opacity : 0;
    }

    .navigation-hamburger.active .navigation-line:nth-child(1)
    {
        transform : translateY(8px) rotate(45deg);
    }

    .navigation-hamburger.active .navigation-line:nth-child(3)
    {
        transform : translateY(-8px) rotate(-45deg);
    }
    
    .navigation-bar
    {
        background-color: var(--dark-secondary-color);
        left : -100%;
        width: 300px;
        height: 100vh;
        transition : 0.5s ease-in-out;
        padding-top: 50px;
        align-items: center;
    }

    .navigation-bar.active 
    {
        left : 0vw;
    }

    .navigation-text
    {
        margin: 15px 0px;
        margin-bottom: 50px;
    }

    #navigation-login 
    {
        margin-right: 0px;
        margin-left: 0px; 
        padding : 15px 15px;
        margin: 15px 0px;
    }

    #navbar-login
    {
        margin: 15px 0px;
    }

    .navigation-bar-not-fixed
    {
        position: fixed;
        opacity: 100%;
    }

    .navigation-bar-scrolled
    {
        background-color: transparent;
    }

    #navigation-search-bar 
    {
        height: 40px;
        z-index: 1;
        background-color: transparent;
        width: 90%;
        top: 80px;
        left: 5%;
        transition: background-color 1s ease;
        margin-right: 0px;
    }

    .user-profile-image
    {
        width : 42px;
        margin: 0px;
        border-color: white;
        border-width: 1.5px;
    }
}

@media all and (max-width : 480px)
{
    .navigation-bar
    {
        width: 250px;
    }
}