@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


.zoom-slider {
    padding-top: 20px;
    padding-bottom: 20px;
}

.save-profile-image-button {
    width: 50%;
    background-color: #001E60;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 500ms ease;
    text-align: center; 
}

.picture-upload {
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Apply the following styles to the button with class 'file-upload-button' */
.file-upload-button {
    /* Add some padding and margin for better spacing */
    padding: 10px 15px;
    margin: 5px;
    
    /* Remove the default button border and outline */
    border: none;
    outline: none;
    
    /* Add a background color */
    background-color: #3498db;
    
    /* Set the text color to white */
    color: #fff;
    
    /* Add a border radius to make the button slightly rounded */
    border-radius: 5px;
    
    /* Apply a pointer cursor to indicate interactivity */
    cursor: pointer;
  }
  
  /* Apply the following styles when hovering over the button */
  .file-upload-button:hover {
    /* Darken the background color slightly */
    background-color: #2980b9;
  }
  
  /* Apply the following styles when the button is clicked/active */
  .file-upload-button:active {
    /* Darken the background color even further to give a pressed effect */
    background-color: #1c638d;
  }


  
  .profile-picture-editor {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.profile-container
{
    padding-top : 130px;
    padding-bottom : 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-picture
{
    width : 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color : white;
    position: relative;
}

.profile-img
{
    width : 45%;
    margin-bottom : 20px;
    border-radius: 50%;
}

.profile-image-edit-button {
    position: absolute;
    bottom: 30%; 
    right: 30%; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 50%; 

    cursor: pointer;
    font-size: 28px;
    color: #001E60;

    width: 38px;
    height: 38px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.profile-name-display
{
    margin-bottom : 5px;
}

.profile-email-display
{
    margin-bottom : 8px;
}

.profile-change-container
{
    display: flex;
    width: 89%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
}

.profile-change
{
    font-size: 15px;
    margin: 0px 32px 0px 32px;
    background-color:#001E60;
    padding: 6px 16px 6px 16px;
    font-family: "poppins";
    color: white;
    border-radius: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.profile-change:hover
{
    background-color :#00468D;
}

.profile-input-container
{
    width : 60%;
    display: flex;
    justify-content: center;
    flex-wrap : wrap;
}

.profile-input
{
    width : 50%;
    display: flex;
    color: white;
    margin-bottom : 40px;
    align-items: center;
}

.profile-name-title
{
    margin-right : 10px;
    font-weight: 500;
}

.profile-email-title
{
    margin-right : 10px;
    font-weight: 500;
}

.profile-name
{
    width : 70%;
    padding : 8px 10px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-email
{
    width: 70%;
    padding : 8px 10px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-description-container
{
    width : 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.profile-description-title
{
    margin-bottom : 10px;
    font-weight: 500;
}

.profile-description
{
    width : 91%;
    padding : 12px 15px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-analytics
{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    color : white;
    margin-top : 70px;
}

.profile-section-container
{
    text-align: center;
}

.profile-section-title
{
    font-weight: 500;
    font-size : 18px;
    margin-bottom : 5px;
}

.profile-section-input
{
    font-size : 18px;
}

.profile-save-button
{
    width: 80%;
    background-color: #001E60;
    color: white;
    padding: 14px 20px;
    margin-top: 100px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 500ms ease;
    text-align: center;
}

.profile-save-button:hover
{
    background-color : #ecaa1e;
    color: #001E60;
}