@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


.zoom-slider {
    padding-top: 20px;
    padding-bottom: 20px;
}

.save-profile-image-button {
    width: 70%;
    background-color: #001E60;
    color: white;
    padding: 8px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 300ms ease;
    text-align: center; 
}

.save-profile-image-button:hover
{
    background-color: #ecaa1e;
    color:#001E60;
}

.picture-upload {
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.profile-page
{
    overflow-x: hidden;
}

.file-upload-button {
    padding: 8px 20px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms ease;
  }
  
  .file-upload-button:hover {
    background-color: #2980b9;
  }
  
  .file-upload-button:active {
    background-color: #1c638d;
  }
  
  .profile-picture-editor {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.profile-container
{
    padding: 40px 20px 164px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-picture
{
    width : 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color : white;
    position: relative;
    margin-right: 80px;
}

.profile-img
{
    width : 100%;
    margin-bottom : 20px;
    border-radius: 50%;
}

.profile-image-edit-button {
    position: absolute;
    bottom: 120px;
    right: 20px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 50%; 

    cursor: pointer;
    font-size: 28px;
    color: #001E60;

    width: 38px;
    height: 38px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    scale: 1.1;
}

.profile-name-display
{
    margin-bottom : 5px;
    white-space: nowrap;
}

.profile-email-display
{
    margin-bottom : 8px;
}

.profile-inputs-section
{
    width: 100%;
    display: flex;
    align-items: center;
}

.profile-change-container
{
    display: flex;
    width: 89%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
}

.profile-change
{
    font-size: 15px;
    background-color:#001E60;
    padding: 6px 16px 6px 16px;
    margin: 0px 10px;
    font-family: "poppins";
    color: white;
    border-radius: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.profile-change:hover
{
    background-color :#00468D;
}

.profile-input-container
{
    width : 60%;
    display: flex;
    justify-content: center;
    flex-wrap : wrap;
    justify-content: flex-end;
}

.profile-input-name
{
    width : 100%;
    display: flex;
    color: white;
    margin-bottom : 40px;
    align-items: center;
    justify-content: flex-start;
}

.profile-input-email
{
    width : 100%;
    display: flex;
    color: white;
    margin-bottom : 40px;
    align-items: center;
    justify-content: flex-end;
}

.profile-name-title
{
    margin-right : 10px;
    font-weight: 500;
    white-space: nowrap;
}

.profile-email-title
{
    margin-right : 10px;
    font-weight: 500;
}

.profile-name
{
    width : 70%;
    padding : 8px 10px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-email
{
    width: 70%;
    padding : 8px 10px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-description-container
{
    width : 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.profile-description-title
{
    margin-bottom : 10px;
    font-weight: 500;
}

.profile-description
{
    width : 100%;
    padding : 12px 15px;
    color : white;
    border-radius : 10px;
    background-color :#00468D;
}

.profile-analytics
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color : white;
    margin-top : 70px;
}

.profile-section-container
{
    text-align: center;
    margin: 0px 20px;
}

.profile-section-title
{
    font-weight: 500;
    font-size : 18px;
    margin-bottom : 5px;
}

.profile-section-input
{
    font-size : 18px;
}

.profile-save-button
{
    width: 80%;
    background-color: #001E60;
    color: white;
    padding: 14px 20px;
    margin-top: 100px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 500ms ease;
    text-align: center;
}

.profile-save-button:hover
{
    background-color : #ecaa1e;
    color: #001E60;
}

.password-popup-container
{
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fade-in 0.2s ease-in-out;
}

.password-popup-content
{
    background-color: #0096C9;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    width: 50%;
    padding-bottom: 35px;
    margin-top : 60px;
}

.pop-up-old-password
{
    margin-top : 30px;
    padding : 8px 12px;
    width: 300px;
}

.pop-up-enter
{
    font-size : 20px;
    background-color:#001e60;
    padding: 6px 16px;
    font-family: "poppins";
    color: white;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    width : 100%;
}

.pop-up-enter:hover
{
    color: white;
    background-color: #00468D;
}

.pop-up-cancel
{
    font-size : 20px;
    background-color: #ecaa1e;
    padding: 6px 16px;
    font-family: "poppins";
    color: #001E60;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    width : 100%;
}

.pop-up-cancel:hover 
{
    color: white;
    background-color: #00468D;
}

.pop-up-password-container
{
    display: flex;
    flex-direction: column;
    margin: 0px 10%;
    align-items: center;
    justify-content: center;
}

.pop-up-forgot-password
{
    margin-top : 20px;
    margin-bottom : 80px;
    color: white;
    transition: 300ms ease;
    cursor: pointer;
    text-decoration: underline;
}

.pop-up-forgot-password:hover
{
    color:#ecaa1e;
}

.password-form-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 100px;
}

.password-form
{
    background-color:#00468D;
    border-radius: 12px;
    padding : 20px;
    width : 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    color: white;
}

.password-form-title
{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom : 40px;
}

.password-form-subtitle
{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom : 40px;
}

.password-form-txt
{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom : 20px;
}

.password-form-input
{
    width : 50%;
    padding : 5px 10px;
    margin-bottom : 50px;
    color: #001E60;
}

.password-form-button
{
    font-weight: 600;
    background-color: #ecaa1e;
    color: #001E60;
    padding : 8px 20px;
    width : 50%;
    margin-bottom: 50px;
    border-radius: 20px;
    margin-top: 20px;
    transition: 300ms ease;

}

.password-form-button:hover
{
    color: white;
    background-color:#001E60;
}


.password-form-submit
{
    font-weight: 600;
    background-color: #ecaa1e;
    color: #001E60;
    padding : 8px 20px;
    width : 50%;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
    transition: 300ms ease;
}

.password-form-submit:hover
{
    color: white;
    background-color:#001E60;
}

#profile-icon-thumbnail
{
    width : 250px;
    height : 250px;
}

#profile-cancel-button
{
    margin-top: 40px;
}


@media all and (max-width : 1200px)
{
    .profile-picture
    {
        margin-right: 40px;
        width : 200px;
    }

    .profile-input-container
    {
        width : 70%;
    }

}

@media all and (max-width : 850px)
{
    .profile-inputs-section
    {
        flex-direction: column;
    }

    .profile-input-name
    {
        justify-content: center;
    }

    .profile-input-email
    {
        justify-content: center;
    }

    .profile-name
    {
        width: 100%;
    }

    .profile-email
    {
        width: 100%;
    }

    .profile-img
    {
        width : 70%;
    }

    .profile-container
    {
        flex-direction: column;
        padding-top: 110px;
    }

    .profile-details
    {
        margin-left: 30px;
    }

    .profile-picture
    {
        margin-right: 0px;
        margin-bottom: 50px;
        flex-direction: row;
    }

    .profile-input-container
    {
        width: 90%;
    }

    .profile-save-button
    {
        width: 90%;
    }

    .password-popup-content
    {
        width : 80%;
        margin-top: 180px;
        padding: 20px;
    }

    .password-form
    {
        width : 80%;
    }

    .password-form-input
    {
        width : 70%;
    }

    .password-form-submit
    {
        width : 70%;
    }

    .password-form-button
    {
        width: 70%;
    }

    .profile-picture-editor
    {
        padding-top : 0px;
    }

    .profile-image-edit-button
    {
        scale: 1.0;
        bottom: 40px;
        left: 10px;
    }
}

@media all and (max-width : 600px)
{

    .profile-picture
    {
        margin-bottom: 20px;
    }

    .profile-img
    {
        width : 70%;
    }

    .password-popup-content
    {
        width : 90%;
    }

    .password-form
    {
        width : 85%;
    }

    .password-form-input
    {
        width : 80%;
    }

    .password-form-submit
    {
        width : 80%;
    }

    .password-form-button
    {
        width: 80%;
    }

    .password-form-subtitle
    {
        font-size: 14px;
    }

    .password-form-txt
    {
        font-size: 14px;
    }
}

@media all and (max-width : 480px)
{
    .profile-container
    {
        padding: 110px 10px 150px 10px;
    }

    .profile-picture
    {
        width : 200px;
    }

    .profile-details
    {
        font-size: 14px;
        margin-left: 15px;
    }

    .profile-input-name
    {
        flex-direction: column;
        font-size: 14px;
    }

    .profile-name-title
    {
        margin-right : 0px;
        margin-bottom : 10px;
    }

    .profile-input-email
    {
        flex-direction: column;
        font-size: 14px;
    }

    .profile-email-title
    {
        margin-right : 0px;
        margin-bottom : 10px;
    }

    .profile-description-container
    {
        font-size : 14px;
        align-items: center;
    }

    .profile-description
    {
        height: 200px;
    }

    .profile-change-container
    {
        justify-content: center;
        width : 100%;
    }

    .profile-section-container
    {
        margin-bottom: 30px;
        margin: 0px 10px;
    }

    .profile-section-title
    {
        font-size: 14px;
    }

    .profile-section-input
    {
        font-size: 14px;
    }

    .profile-img 
    {
        width: 60%;
    }

    .profile-analytics
    {
        margin-top: 40px;
    }

    .profile-save-button
    {
        margin-top : 60px;
        font-size : 16px;
        padding: 12px 10px;
    }

    .password-popup-content
    {
        margin-top : 140px;
    }

    .pop-up-password-container
    {
        margin: 0px 5%;
    }

    .pop-up-enter
    {
        font-size: 14px;
    }

    .pop-up-cancel
    {
        font-size: 14px;
    }

    .pop-up-forgot-password
    {
        font-size: 14px;
    }

    .pop-up-old-password
    {
        font-size: 14px;
        width : 100%;
    }

    .password-form
    {
        width : 90%;
    }

    .password-form-input
    {
        width : 90%;
        font-size : 12px;
    }

    .password-form-submit
    {
        width: 90%;
        font-size : 14px;
    }

    .password-form-button
    {
        width: 90%;
        font-size : 14px;
    }

    .password-form-title
    {
        font-size: 20px;
    }

    .profile-image-edit-button
    {
        scale: 0.9;
        bottom: 35px;
        left: 25px;
    }
}

@media all and (max-width : 360px)
{
    .profile-picture
    {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .profile-details
    {
        margin-left: 0px;
    }

    .profile-img
    {
        width: 70%;
    }

    .profile-image-edit-button
    {
        scale: 1;
        top: 85px;
        left: 140px;
    }
}