@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.verification-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin : 0px 20%;
    margin-top : 80px;
    background-color: #00468D;
    border-radius: 10px;
    padding: 30px 20px;
}

.verification-title
{
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom : 20px;
    margin-top : 10px;
}

.verification-text
{
    width : 80%;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size : 17px;
}

.verification-code
{
    padding : 3px 10px;
    color: #001E60;
    font-weight: 500;
    width : 250px;
}

.verification-code-container
{
    display: flex;
    align-items: center;
    margin-bottom : 40px;
}

.verification-security-text
{
    color: white;
    font-weight : 500;
    font-size : 16px;
    margin-right : 12px;
}

.verification-no-code
{
    color: white;
    margin-bottom : 20px;
    text-align: center;
}

.verification-link
{
    margin-left : 10px;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 300ms ease;
}

.verification-link:hover
{
    color: orange;
}

.verification-problems-container
{
    margin-top : 80px;
    color : white;
    align-items: center;
    margin-bottom : 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.verification-problems-title
{
    font-size : 20px;
    font-weight: 500;
    margin-bottom : 30px;
    text-align: center;
}

.verification-problems-link
{
    text-align: center;
    font-weight: 600;
    padding : 10px 20px;
    background-color: #ecaa1e;
    color: #001E60;
    border-radius: 10px;
    transition: 300ms ease;
}

.verification-problems-link:hover 
{
    background-color:#001E60;
    color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

@media all and (max-width : 1000px)
{
    .verification-container
    {
    margin : 0px 8%;
    margin-top : 60px;
    }

    .verification-text
    {
        width: 90%;
    }
}

@media all and (max-width : 540px)
{
    .verification-container
    {
    margin : 0px 6%;
    margin-top : 40px;
    }

    .verification-text
    {
        width: 95%;
    }
}

@media all and (max-width : 480px)
{

    .verification-container
    {
        margin : 0px 5%;
        margin-top : 30px;
    }

    .verification-title
    {
        font-size: 20px;
    }

    .verification-text
    {
        width: 90%;
        font-size: 15px;
    }

    .verification-code-container
    {
        flex-direction: column;
    }

    .verification-code
    {
        width : 220px
    }

    .verification-security-text
    {
        margin-right : 0px;
        margin-bottom : 20px;
    }

    .verification-no-code
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 13px;
    }

    .verification-link
    {
        margin-left: 0px;
        margin-top: 5px;
    }

    .verification-problems-container
    {
        margin-top: 40px;
        margin-bottom : 40px;
    }

    .verification-problems-title
    {
        font-size: 18px;
    }

    .verification-problems-link
    {
        font-size: 14px;
        padding: 8px 15px;
    }
}