.container
{
    position: relative;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.applicants-container-title
{
    color: white;
    position: relative;
    width : 80%;
    margin-bottom: 3%;
    background-color: #001E60;
    border-radius: 10px;
    font-weight: 300;
    font-size: clamp(24px, 3vw, 36px);
    text-align: center;
    padding: 10px 25px;
    margin-top: 120px;
}

.applicants-container
{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    flex-direction: column;
    align-items: center;
    background-color: #00468D;
    border-radius : 20px;
}

.applicants
{
    width : 100%;
}


.search-results
{
    display : flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom : 60px;
}

.applicants-title
{
    color: white;
    position: relative;
    font-weight: 500;
    font-size: clamp(20px, 3vw, 30px);
    text-align: center;
    padding: 20px 25px;
    margin-top: 20px;
}

.applicants-result-container
{
    color: white;
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 400;
    position: relative;
    padding: 20px 30px;
    width: 50%;
}

@media all and (max-width : 1240px)
{
    .applicants-container
    {
        width : 95%;
        padding-right: 2%;
        padding-left: 2%;
    }

    .applicants-container-title
    {
        width : 95%;
    }
}

@media all and (max-width : 900px)
{
    .search-results 
    {
        flex-direction: column;
        align-content: center;
    }

    .result-container
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

@media all and (max-width : 780px)
{
    .applicants-container-title
    {
        margin-top: 60px;
    }
}

@media all and (max-width : 540px)
{
    .search-results
    {
        align-content : flex-start;
        margin-left : 20px;
    }
}

@media all and (max-width : 400px)
{
    .search-results
    {
        margin-left : 0px;
    }
}


.search-results{
    table-layout: fixed;
    width: 100%;
}

.search-results thead th{
    text-align: left;
    padding: 15px;
    width: 100vw;
}

.search-results tbody td{
    padding: 10px;
    text-align: left;
    border: .5px solid;
    width: 100vw;
}

.search-results th.applicant-name,
.search-results tbody td.applicant-name{
    width: 30%;
}

.search-results th.applicant-email,
.search-results tbody td.applicant-email{
    width: 40%;
}


.search-results th.applicant-date,
.search-results tbody td.applicant-date {
    width: 15%;  
}



