@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

:root
{
    --primary-color: #0096C9;
    --secondary-color: #00468D;
    --dark-secondary-color: #001E60;
    --accent-color: #ecaa1e;
}

@keyframes fadeIn 
{
    0% { opacity: 0;
        transform : translatey(10px); }
    100% { opacity: 1;
        transform : translatey(0px); }
}

*
{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
}

body
{
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    min-height: calc(100vh);
    position: relative;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    font-family: 'Poppins', sans-serif;
}

#header
{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .6),
        rgba(0, 40, 96, 0.5),
        rgba(0, 70, 141, 0.5),
        rgba(0, 60, 96, 0.99)
     );

    background-repeat : no-repeat;
    min-height: 130vh;
    max-height: 130vh;
    position: relative;
    overflow : hidden;
}

#header-title
{
    color: white;
    font-size : clamp(32px, 4.6vw, 60px);
    font-weight: 400;
    line-height: clamp(50px, 9vw, 110px);
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 15%;
    animation: fadeIn 1s;
    padding : 0px 15px;
}

#header-title p strong
{
    font-family: 'Montserrat', sans-serif;;
    letter-spacing: 1.2px;
    background-image: linear-gradient(45deg, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;  
}

#header-subtitle
{
    color: white;
    font-size : clamp(18px, 2vw, 26px);
    text-align: center;
    position : absolute;
    right: 0;
    left: 0;
    bottom : 28%;
    animation: fadeIn 1s;
    padding : 0px 15px;
}

#header-button
{
    width : 100%;
    text-align: center;
    display : flex;
    justify-content: center;
}

#get-started-button
{
    color : var(--dark-secondary-color);
    background-color : var(--accent-color);
    font-size : 25px;
    font-weight : 600;
    border-radius: 10px;
    position : absolute;
    top: 480px;
    padding : 10px 40px;
    transition : all 0.3s ease-in-out;
    animation: fadeIn 1s;
}

#get-started-button:hover
{
    color : white;
    background-color : var(--secondary-color);
}

#header-curve
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
}

.landing-page-container
{
    position: relative;
    padding-top : 20px;
    padding-right : 4%;
    padding-left : 4%;
    padding-bottom: clamp(70px, 8vw, 100px);
    width : 100%;
}

.landing-page-container-title
{
    color: white;
    margin-bottom: clamp(25px, 4vw, 60px);
    font-size: clamp(24px, 3vw, 40px);
    text-align: center;
    width: 100%;
}

#landing-page-categories
{
    display : flex;
    justify-content: center;
}

.landing-page-category-box  
{
    position : relative;
    background-size: cover;
    width : 100%;
    margin: 0% 2% 0% 2%;
    overflow : hidden;
    border-radius : 10px;
    cursor: pointer;
    transition: 300ms ease ;
    color : white;
    text-align: center;
    font-weight : 500;
    font-size: 2.5vw;
    text-shadow: 2px 1px 8px rgb(0 0 0 / 100%);
}

.landing-page-category-box:hover 
{
    transform: scale(1.05);
}

.landing-page-category-title-top
{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top : 6%;
}

.landing-page-category-title-bottom
{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom : 8%;
}

.landing-page-category-coming-soon
{
    color : white;
    text-align: center;
    font-weight : 600;
    font-size: 2.5vw;
    background-color: var(--secondary-color);
    position: absolute;
    top : 8%;
    width : 100%;
}

#schools-container
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
    background-color: var(--secondary-color);
    padding-top : clamp(30px, 8%, 60px);
}

#landing-page-schools-header-title
{
    margin-bottom: clamp(25px, 5vw, 70px);
}

.landing-page-school-box 
{
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    margin: 0px 25px 50px 25px;
    width: 15%;
}

.landing-page-school-title 
{
    display: block;
    padding: 10px 10px 0px 10px;
    letter-spacing: 1.2px;
    font-size: clamp(11px, 1vw, 14px);
}

.landing-page-school-box i
{
    transition: 200ms ease;
    position: relative;
}

.landing-page-school-box:hover i
{
    color: var(--accent-color);
    scale: 1.1;
}

.landing-page-school-box:hover .landing-page-school-underline
{
    border-top: 2.5px solid var(--accent-color);
    width: 100px;
}

.landing-page-school-underline
{
    border-top: 2.5px solid white;
    width: 80px;
    transition: 200ms ease;
    margin-top: 12px;
}

#partners-container
{
    padding-top : clamp(30px, 8%, 60px);
    padding-bottom: clamp(90px, 10vw, 120px);
}

.landing-page-partners-images
{
    display : flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
}

.landing-page-partner-link
{
    display : contents;
}

#solvecc-image
{
    width : 38%;
    transition: 300ms ease ;
}

#solvecc-image:hover
{
    transform: scale(1.05);
}

#fourth-world-image
{
    width : 22%;
    transition: 300ms ease;
}

#fourth-world-image:hover
{
    transform: scale(1.05);
}

::-webkit-scrollbar
{
    height: 12px;
}

@media all and (max-width : 850px)
{
    #header-title
    {
        top : 140px;
    }

    #get-started-button
    {
        transform: scale(.9);
        top: 420px;
    }

    #landing-page-categories
    {
        justify-content: left;
        overflow: scroll;
        overflow-y: hidden;
        padding-bottom: 5%;
    }

    .landing-page-category-box
    {
        width: 200px;
        flex-shrink: 0;
        margin: 0% 4% 0% 0%;        
        font-size: clamp(20px, 4vw, 26px);
    }

    .landing-page-category-coming-soon
    {
        font-size : clamp(20px, 4vw, 26px);
    }

    .landing-page-school-box
    {
        width : 25%;
        margin: 0px 10px 30px 10px;
        font-size: 12px;
    }

    #school-last-box
    {
        display: none;
    }

    #solvecc-image
    {
        width : 40%;
    }

    #fourth-world-image
    {
        width : 30%;
    }
}

@media all and (max-width : 560px)
{
    .landing-page-school-box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 11px;
    }

    .landing-page-school-title
    {
        width: 100px;
        padding: 10px 0px 0px 0px;
    }

    .landing-page-category-box
    {
        width : 180px;
        margin : 0px 8% 4% 0px;
    }

    .landing-page-school-box:hover .landing-page-school-underline
    {
        width: 90px;
    }


    #solvecc-image
    {
        width : 70%;
    }

    #fourth-world-image
    {
        width : 50%;
        margin-bottom : 20%;
    }
}

@media all and (max-width : 480px)
{
    #header
    {
        min-height: 110vh;
        max-height: 110vh;
    }

    #header-subtitle
    {
        bottom: 100px;
    }

    #get-started-button
    {
        transform: scale(.8);
    }

    #club
    {
        content: url('/public/photos-mobile/clubs-mob.webp')
    }

    #events
    {
        content: url('/public/photos-mobile/events-mob.webp')
    }

    #volunteer
    {
        content: url('/public/photos-mobile/volunteer-mob.webp')
    }

    #internship
    {
        content: url('/public/photos-mobile/internship-mob.webp')
    }

    .landing-page-school-box
    {
        width: 24%;
        margin : 15px;
        margin-bottom: 10px;
        scale: 0.9;
    }
}

@media all and (max-width : 349px)
{
    #school-last-box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}