@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@tailwind base;
@tailwind components;
@tailwind utilities;

.notification-icon {
    background-color: #ecaa1e;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 50%;
    color: #001E60;
    position: absolute;
    right: -2px;
    top: -8px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-notification-icon {
    background-color: #FF3939;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 50%;
    color: #001E60;
    position: absolute;
    right: -4px;
    top: -8px;
    width: 20px;
    height: 20px;
}

.relative-container {
    position: relative;
}

.hidden {
    display: none;
    visibility: hidden;
}

.position-left {
    left: -4px;
}

.blue-container {
    background-color: #00468D;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

.blue-container>p {
    font-size: 100%;
}

.dark-blue-container-with-border {
    background: #001E60;
    border-color: #ecaa1e;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

