/* NotFoundPage.css */

/* Styles for the container div */
.page-not-found-container
{
  flex-direction: column;
  margin : 0px 20%;
  margin-top : 180px;
  background-color: #00468D;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
  
  /* Styles for the heading */
  .not-found-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Styles for the paragraph */
  .not-found-message {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* Styles for the code block */
  .not-found-code {
    font-family: monospace;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .go-back-from-not-found {
    background-color: #ecaa1e;
    color:#00468D;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .go-back-from-not-found:hover {

    background-color:#001E60;
    color: white;
  }
  

  
  /* Styles for the link */
  .not-found-link {
    text-decoration: none;
  }
  

  @media only screen and (max-width: 600px) {
    .page-not-found-container {
      font-size: 18px;
      margin : 0px 10%;
      margin-top : 80px;
    }
    
    .not-found-heading {
      font-size: 1rem;
    }
    
    .not-found-message {
      font-size: 0.9rem;
    }
  }
  