@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* Styles for the container div */
/* .not-found-page-container
{
  position: absolute;
} */

.page-not-found-container {
  width: 40%; 
  flex-direction: column;
  margin: 0 auto; 
  background-color: #00468D;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

  
  /* Styles for the heading */
  .not-found-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Styles for the paragraph */
  .not-found-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Styles for the code block */
  .not-found-code {
    font-family: monospace;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .go-back-from-not-found {
    background-color: #ecaa1e;
    color:#00468D;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top : 20px;
    margin-bottom : 20px;
    transition: 300ms ease;
  }

  .go-back-from-not-found:hover {

    background-color:#001E60;
    color: white;
  }
  

  
  /* Styles for the link */
  .not-found-link {
    text-decoration: none;
  }
  

  @media only screen and (max-width: 850px) {

    .page-not-found-container {
      font-size: 18px;
      width: 90%; 
      max-width: 400px; 
    }
    
    .not-found-heading {
      font-size: 1rem;
    }
    
    .not-found-message {
      font-size: 0.9rem;
    }

    .go-back-from-not-found
    {
      font-size: 16px;
      padding: 8px 25px;
    }
  }
  